@charset "UTF-8";
/* web cont1 */
.cont1 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  max-height: 940px;
  height: 940px;
  background-image: url(../teratto_about_img/web/back1.jpg);
}
.cont1 .inner {
  padding: 144px 20px 400px;
}
.cont1 h2 {
  font-size: 46px;
  line-height: 1.15;
  font-family: "NotoSansKR-Bold";
  margin-bottom: 30px;
}
.cont1 h2 strong {
  color: #7c40e7;
}
.cont1 .sub_text {
  font-size: 20px;
  margin-bottom: 8px;
}
.cont1 .target {
  display: inline-block;
  color: #fff;
  padding: 12px 20px;
  border-radius: 50px;
  font-family: "NotoSansKR-Bold";
  background-color: #7c40e7;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.cont1 .text_point {
  color: #7c40e7;
  font-family: "NotoSansKR-Black";
}
.cont1 .sub_title {
  font-size: 20px;
  font-family: "rajdhani-semibold";
  position: absolute;
  bottom: 0;
  left: 0;
}
.cont1 .sub_title::after {
  content: "";
  display: block;
  width: 350px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  left: -360px;
  transform: translateY(-50%);
}

/* web content 타이틀 공통 값 */
.title_wrap {
  width: 278px;
}
.title_wrap h2 {
  width: 278px;
  border-top: 3px solid #161616;
  border-bottom: 3px solid #161616;
  font-size: 38px;
  font-family: "NotoSansKR-Bold";
  padding: 28px 0;
  line-height: 1.2;
  margin-bottom: 33px;
}
.title_wrap h2 strong {
  color: #7c40e7;
}
.title_wrap .context .sub_title {
  font-size: 22px;
  font-family: "NotoSansKR-Bold";
  color: #7c40e7;
  margin-bottom: 30px;
  line-height: 1.4;
}
.title_wrap .context .sub_text {
  font-size: 18px;
  color: #595959;
  font-family: "NotoSansKR-Medium";
  line-height: 1.5;
}

.content_wrap {
  width: 768px;
}
.content_wrap .text {
  font-size: 15px;
  color: #595959;
  line-height: 1.5;
}

/* web cont2 */
.cont2 .inner {
  display: flex;
  justify-content: space-between;
  padding: 124px 20px 0;
}
.cont2 .content_wrap .content_img {
  width: 768px;
  display: block;
  margin-bottom: 48px;
}

/* web cont3 */
.cont3 .inner {
  display: flex;
  justify-content: space-between;
  padding: 120px 20px 0;
}
.cont3 .content_list {
  margin-bottom: 43px;
}
.cont3 .content_list ul {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.cont3 .content_list li {
  width: 244px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  overflow: hidden;
}
.cont3 .content_list li .list_text {
  padding: 0 16px;
}
.cont3 .content_list li .list_text .title {
  text-align: center;
  font-size: 22px;
  color: #7c40e7;
  padding: 28px 0;
  border-bottom: 2px solid #e6e6e6;
  font-family: "rajdhani-semibold";
}
.cont3 .content_list li .list_text .text {
  padding: 28px 0 32px;
  font-size: 16px;
  text-align: center;
}

/* web cont4 */
.cont4 .inner {
  display: flex;
  justify-content: space-between;
  padding: 120px 20px 0;
}
.cont4 .system_content {
  position: relative;
  width: 100%;
  height: 570px;
  background: url(../teratto_about_img/common/session3_ele.png) no-repeat 0 0/768px auto;
  margin-bottom: 40px;
}
.cont4 .system_content .title {
  width: 320px;
  text-align: center;
  font-size: 27px;
  font-family: "rajdhani-bold";
  padding: 18px 0;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.cont4 .system_content .box {
  text-align: center;
  width: 180px;
  min-height: 268px;
  position: absolute;
  top: 272px;
  padding: 24px 16px;
}
.cont4 .system_content .box .num {
  font-size: 60px;
  font-family: "rajdhani-regular";
  margin-bottom: 14px;
}
.cont4 .system_content .box .subject {
  font-size: 23px;
  font-family: "rajdhani-semibold";
  margin-bottom: 14px;
}
.cont4 .system_content .box .box_text {
  font-size: 16px;
  font-family: "NotoSansKR-Medium";
  line-height: 1.4;
}
.cont4 .system_content .box:nth-of-type(1) {
  left: 26px;
}
.cont4 .system_content .box:nth-of-type(1) .num {
  color: #9700ff;
}
.cont4 .system_content .box:nth-of-type(2) {
  left: 295px;
}
.cont4 .system_content .box:nth-of-type(2) .num {
  color: #7759ff;
}
.cont4 .system_content .box:nth-of-type(3) {
  left: 564px;
}
.cont4 .system_content .box:nth-of-type(3) .num {
  color: #4572ff;
}

/* web cont5 */
.cont5 .mobi_br {
  display: none;
}
.cont5 .inner {
  display: flex;
  justify-content: space-between;
  padding: 140px 20px;
}
.cont5 .round_content {
  margin-bottom: 60px;
}
.cont5 .round_content ul {
  display: flex;
  justify-content: space-between;
}
.cont5 .round_content li {
  width: 228px;
  height: 228px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
  position: relative;
}
.cont5 .round_content li .title {
  font-size: 23px;
  font-family: "rajdhani-bold";
  padding-top: 100px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center 44px;
  background-size: auto 45px;
}
.cont5 .round_content li .content_text {
  font-size: 15px;
  line-height: 1.2;
  font-family: "NotoSansKR-Medium";
}
.cont5 .round_content li:nth-of-type(1) {
  background-image: url(../teratto_about_img/common/session4_ele1.png);
}
.cont5 .round_content li:nth-of-type(1) .title {
  background-image: url(../teratto_about_img/icon/session3_icon1.png);
}
.cont5 .round_content li:nth-of-type(2) {
  background-image: url(../teratto_about_img/common/session4_ele2.png);
}
.cont5 .round_content li:nth-of-type(2) .title {
  background-image: url(../teratto_about_img/icon/session3_icon2.png);
}
.cont5 .round_content li:nth-of-type(3) {
  background-image: url(../teratto_about_img/common/session4_ele1.png);
}
.cont5 .round_content li:nth-of-type(3) .title {
  background-image: url(../teratto_about_img/icon/session3_icon3.png);
}
.cont5 .round_content li:nth-of-type(3)::after {
  display: none;
}
.cont5 .round_content li::after {
  content: "";
  display: block;
  width: 18px;
  height: 26px;
  background: url(../teratto_about_img/common/session4_ele3.png) no-repeat 0 0/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -32px;
}

/* ===== web 끝 ===== */
/* ===== 태블릿 시작 ===== */
@media (max-width: 1199px) {
  .pc_br {
    display: none;
  }

  /* 태블릿 cont1 */
  .cont1 {
    width: 100%;
    max-width: none;
    max-height: none;
    height: auto;
    background: url(../teratto_about_img/tablet/back1.jpg) no-repeat 0 0/cover;
  }
  .cont1 .inner {
    width: 100%;
    padding: 8.33333vw 3.645833vw 75.78125vw;
  }
  .cont1 h2 {
    font-size: 5.72916vw;
    line-height: 1.15;
    margin-bottom: 2.34375vw;
  }
  .cont1 .sub_text {
    font-size: 2.60416vw;
    margin-bottom: 1.30208vw;
  }
  .cont1 .target {
    padding: 1.5625vw 2.60416vw;
    border-radius: 50px;
    /* no */
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    margin-right: 1.30208vw;
  }
  .cont1 .sub_title {
    font-size: 2.604166vw;
    bottom: 3.90625vw;
    left: auto;
    right: 3.64583vw;
  }
  .cont1 .sub_title::after {
    width: 100%;
    height: 1px;
    left: -61.71875vw;
  }

  /* 태블릿 content 타이틀 공통 값 */
  .title_wrap {
    width: 100%;
  }
  .title_wrap h2 {
    width: 100%;
    font-size: 4.42708vw;
    padding: 3.64583vw 0;
    line-height: 1.3;
    margin-bottom: 3.90625vw;
  }
  .title_wrap .context .sub_title {
    font-size: 3.125vw;
    margin-bottom: 2.994791vw;
  }
  .title_wrap .context .sub_text {
    font-size: 2.60416vw;
    line-height: 1.5;
  }

  .content_wrap {
    width: 100%;
  }
  .content_wrap .text {
    font-size: 2.34375vw;
    line-height: 1.5;
  }

  /* 태블릿 cont2 */
  .cont2 .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 13.54166vw 3.645833vw 0;
    gap: 5.46875vw;
  }
  .cont2 .content_wrap .content_img {
    width: 100%;
    display: block;
    margin-bottom: 5.20833vw;
  }

  /* 태블릿 cont3 */
  .cont3 .inner {
    width: 100%;
    flex-direction: column;
    padding: 12.5vw 3.64583vw 0;
  }
  .cont3 .context {
    display: flex;
    gap: 5.20833vw;
    margin-bottom: 6.510416vw;
  }
  .cont3 .content_list {
    margin-bottom: 5.20833vw;
  }
  .cont3 .content_list ul {
    gap: 2.34375vw;
  }
  .cont3 .content_list li {
    width: 31.77083vw;
  }
  .cont3 .content_list li .list_text {
    padding: 0 2.08333vw;
  }
  .cont3 .content_list li .list_text .title {
    font-size: 2.86458vw;
    padding: 3.125vw 0;
  }
  .cont3 .content_list li .list_text .text {
    padding: 3.64583vw 0 4.16666vw;
    font-size: 2.08333vw;
  }

  /* 태블릿 cont4 */
  .cont4 .inner {
    width: 100%;
    padding: 13.02083vw 3.64583vw 0;
    flex-direction: column;
  }
  .cont4 .title_wrap {
    margin-bottom: 9.11458vw;
  }
  .cont4 .title_wrap .context .sub_title {
    margin-bottom: 0;
  }
  .cont4 .system_content {
    width: 100%;
    height: 71.09375vw;
    background: url(../teratto_about_img/common/session3_ele.png) no-repeat 0 0/100% auto;
    margin-bottom: 5.72916vw;
  }
  .cont4 .system_content .title {
    width: 38.80208vw;
    font-size: 3.515625vw;
    padding: 2.08333vw 0;
    top: 3.64583vw;
  }
  .cont4 .system_content .box {
    width: 21.614583vw;
    min-height: 32.552083vw;
    top: 32.552083vw;
    padding: 3.125vw 2.08333vw;
  }
  .cont4 .system_content .box .num {
    font-size: 7.03125vw;
    margin-bottom: 1.5625vw;
  }
  .cont4 .system_content .box .subject {
    font-size: 2.734375vw;
    margin-bottom: 1.5625vw;
  }
  .cont4 .system_content .box .box_text {
    font-size: 1.95312vw;
    line-height: 1.4;
  }
  .cont4 .system_content .box:nth-of-type(1) {
    left: 3.125vw;
  }
  .cont4 .system_content .box:nth-of-type(2) {
    left: 35.677083vw;
  }
  .cont4 .system_content .box:nth-of-type(3) {
    left: 68.22916vw;
  }

  /* 태블릿 cont5 */
  .cont5 .inner {
    width: 100%;
    padding: 13.02083vw 3.64583vw;
    flex-direction: column;
  }
  .cont5 .round_content {
    margin-top: 3.125vw;
    margin-bottom: 6.25vw;
  }
  .cont5 .round_content li {
    width: 27.34375vw;
    height: 27.34375vw;
  }
  .cont5 .round_content li .title {
    font-size: 2.86458vw;
    padding-top: 11.71875vw;
    margin-bottom: 1.04166vw;
    background-position: center 5.20833vw;
    background-size: auto 4.94791vw;
  }
  .cont5 .round_content li .content_text {
    font-size: 1.82291vw;
  }
  .cont5 .round_content li::after {
    width: 2.08333vw;
    height: 3.38541vw;
    right: -3.90625vw;
  }
}
/* ====== 모바일 시작 ====== */
@media (max-width: 767px) {
  /* 모바일 cont1 */
  .cont1 {
    background: url(../teratto_about_img/mobile/back1.jpg) no-repeat 0 0/cover;
  }
  .cont1 .inner {
    width: 100%;
    padding: 12.8125vw 4.6875vw 101.5625vw;
  }
  .cont1 h2 {
    font-size: 7.1875vw;
    line-height: 1.15;
    margin-bottom: 5vw;
  }
  .cont1 .sub_text {
    font-size: 3.125vw;
    margin-bottom: 2.5vw;
  }
  .cont1 .target {
    padding: 1.875vw 3.125vw;
    border-radius: 50px;
    /* no */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    margin-right: 2.5vw;
  }
  .cont1 .sub_title {
    font-size: 3.125vw;
    bottom: 5.46875vw;
    left: auto;
    right: 4.6875vw;
  }
  .cont1 .sub_title::after {
    left: -74.0625vw;
  }

  /* 모바일 content 타이틀 공통 값 */
  .title_wrap {
    width: 100%;
  }
  .title_wrap h2 {
    width: 100%;
    font-size: 5.9375vw;
    padding: 5vw 0;
    line-height: 1.1;
    margin-bottom: 4.375vw;
  }
  .title_wrap .context .sub_title {
    font-size: 4.0625vw;
    margin-bottom: 3.59375vw;
  }
  .title_wrap .context .sub_text {
    font-size: 3.28125vw;
    line-height: 1.5;
  }

  .content_wrap {
    width: 100%;
  }
  .content_wrap .text {
    font-size: 2.8125vw;
    line-height: 1.5;
  }

  /* 모바일 cont2 */
  .cont2 .inner {
    padding: 14.375vw 4.6875vw 0;
    gap: 4.6875vw;
  }
  .cont2 .content_wrap .content_img {
    margin-bottom: 6.25vw;
  }

  /* 모바일 cont3 */
  .cont3 .inner {
    width: 100%;
    padding: 15vw 4.375vw 0;
  }
  .cont3 .context {
    display: flex;
    flex-direction: column;
    gap: 2.1875vw;
    margin-bottom: 7.8125vw;
  }
  .cont3 .context .sub_title {
    margin-bottom: 0;
  }
  .cont3 .content_list {
    margin-bottom: 6.25vw;
  }
  .cont3 .content_list ul {
    gap: 2.8125vw;
    flex-direction: column;
  }
  .cont3 .content_list li {
    width: 100%;
    display: flex;
  }
  .cont3 .content_list li img {
    display: block;
    width: 42.8125vw;
  }
  .cont3 .content_list li .list_text {
    padding: 0 3.75vw;
  }
  .cont3 .content_list li .list_text .title {
    font-size: 4.375vw;
    padding: 3.75vw 0;
  }
  .cont3 .content_list li .list_text .text {
    padding: 8.4375vw 0 8.4375vw;
    font-size: 3.125vw;
  }

  /* 모바일 cont4 */
  .cont4 .inner {
    width: 100%;
    padding: 15.625vw 4.6875vw 0;
    flex-direction: column;
  }
  .cont4 .title_wrap {
    margin-bottom: 9.375vw;
  }
  .cont4 .title_wrap .context .sub_title {
    margin-bottom: 0;
  }
  .cont4 .system_content {
    width: 100%;
    height: 132.8125vw;
    background: url(../teratto_about_img/mobile/session3_ele.png) no-repeat 0 0/100% auto;
    margin-bottom: 3.125vw;
  }
  .cont4 .system_content .title {
    width: 75vw;
    font-size: 5vw;
    padding: 2.5vw 0;
    top: 37.8125vw;
    left: -24.6875vw;
    transform: rotate(-90deg);
  }
  .cont4 .system_content .box {
    width: 39.6875vw;
    min-height: 32.8125vw;
    top: 39.0625vw;
    padding: 3.75vw 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    align-content: center;
  }
  .cont4 .system_content .box .num {
    font-size: 9.6875vw;
    margin-bottom: 1.875vw;
  }
  .cont4 .system_content .box .subject {
    width: 23.4375vw;
    font-size: 3.75vw;
    margin-bottom: 1.875vw;
  }
  .cont4 .system_content .box .box_text {
    width: 100%;
    font-size: 2.65625vw;
    line-height: 1.4;
  }
  .cont4 .system_content .box:nth-of-type(1) {
    top: 4.6875vw;
    left: 45.9375vw;
  }
  .cont4 .system_content .box:nth-of-type(2) {
    top: 46.25vw;
    left: 45.9375vw;
  }
  .cont4 .system_content .box:nth-of-type(3) {
    top: 89.375vw;
    left: 45.9375vw;
  }

  /* 모바일 cont5 */
  .cont5 .mobi_br {
    display: block;
  }
  .cont5 .inner {
    width: 100%;
    padding: 15.625vw 4.6875vw;
  }
  .cont5 .round_content {
    margin-top: 3.75vw;
    margin-bottom: 4.6875vw;
  }
  .cont5 .round_content li {
    width: 25vw;
    min-height: 40.625vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6vw;
  }
  .cont5 .round_content li .title {
    font-size: 3.4375vw;
    padding-top: 13.4375vw;
    margin-bottom: 1.25vw;
    background-position: center 5.625vw;
    background-size: auto 6.25vw;
  }
  .cont5 .round_content li .content_text {
    font-size: 2.8125vw;
    min-height: 12.5vw;
    line-height: 1.4;
  }
  .cont5 .round_content li::after {
    width: 2.5vw;
    height: 4.0625vw;
    right: -5.3125vw;
    top: 30%;
  }
}

/*# sourceMappingURL=about_kr.css.map */
