@charset "UTF-8";
/* 폰트 패밀리 */
/* 컬러 */
/* 폰트 색상 */
.c_main {
  color: #fa5858;
}

.c_gray1 {
  color: #848484;
}

.c_alert2 {
  color: #0174df;
}

/* 타이포그래피 */
.ft_splash {
  font-size: 22px;
  line-height: 28px;
  font-family: "SCDream_Bold";
}

.ft_title1 {
  font-size: 22px;
  line-height: 28px;
  font-family: "SCDream_Medium";
}

.ft_title2 {
  font-size: 18px;
  line-height: 28px;
  font-family: "SCDream_Medium";
}

.ft_sub1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "SCDream_Medium";
}

.ft_sub2 {
  font-size: 14px;
  line-height: 20px;
  font-family: "SCDream_Medium";
}

.ft_sub3 {
  font-size: 12px;
  line-height: 18px;
  font-family: "SCDream_Medium";
}

.ft_body1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "SCDream_Regular";
}

.ft_body2 {
  font-size: 14px;
  line-height: 20px;
  font-family: "SCDream_Regular";
}

.ft_txt1 {
  font-size: 12px;
  line-height: 18px;
  font-family: "SCDream_Regular";
}

.ft_txt2 {
  font-size: 11px;
  line-height: 16px;
  font-family: "SCDream_Regular";
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: transparent;
}

#wrap {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

#header {
  max-width: 426px;
  min-width: 310px;
  margin: 0 auto;
  border-bottom: 1px solid #D8D8D8;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 300;
}

.headerIn {
  padding: 10px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIn .side_btn {
  width: 24px;
  height: 22px;
}
.headerIn .side_btn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fa5858;
  position: relative;
}
.headerIn .side_btn span::after, .headerIn .side_btn span::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fa5858;
  position: absolute;
}
.headerIn .side_btn span::after {
  top: -8px;
  left: 0;
}
.headerIn .side_btn span::before {
  top: 8px;
  left: 0;
}
.headerIn .logo {
  width: 106px;
}
.headerIn .alarm_btn {
  width: 34px;
  height: 34px;
}

#container {
  max-width: 426px;
  min-width: 310px;
  margin: 0 auto;
}
#container .cont_inner {
  padding: 16px 22px 0;
}

/* 플렉스박스 */
.flex_box {
  display: flex;
}
.flex_box.between {
  justify-content: space-between;
}
.flex_box.align_center {
  align-items: center;
}

/* 빨간색 버튼 */
.red_btn {
  color: #fa5858;
  padding: 5px 10px;
  border-radius: 14px;
  border: 1px solid #fa5858;
  min-width: 78px;
}

/* 파란색 버튼 */
.blue_btn {
  color: #0174df;
  padding: 5px 10px;
  border-radius: 14px;
  border: 1px solid #0174df;
  min-width: 78px;
}

/* 얼럿 아이콘 */
.alert_icon {
  padding-left: 18px;
  background: url(../images/common/notice_icon1.svg) no-repeat 0 0/auto 14px;
}

/* 스와이퍼 */
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: #fa5858 !important;
}

/* 하단 네비게이션 */
.gnb {
  max-width: 426px;
  min-width: 310px;
  width: 100%;
  border-top: 1px solid #D8D8D8;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 48px;
  background-color: #fff;
  z-index: 500;
  height: 54px;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
}
.gnb li {
  height: 30px;
}
.gnb li a {
  display: block;
}
.gnb li a img {
  width: auto;
  height: 30px;
}

/* 셀렉트 박스 */
select {
  width: 82px;
  height: 31px;
  border-color: #bdbdbd;
  border-radius: 4px;
  padding: 0 10px;
  background: url(../images/main/main_drop_arrow.svg) no-repeat right 10px center/auto 7px;
}

/*# sourceMappingURL=common.css.map */
