@charset "UTF-8";
.pc_img {
  display: block;
}

.tablet_img {
  display: none;
}

.mobile_img {
  display: none;
}

#wrap {
  position: relative;
}

.side_menu {
  display: none;
}

.mobi_br {
  display: none;
}

#header {
  position: sticky;
  box-sizing: border-box;
  z-index: 300;
}
#header .menu_btn {
  display: none;
}

.web_sns {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
}
.web_sns ul {
  display: flex;
  flex-direction: column;
}
.web_sns ul li a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.web_sns ul li a img {
  width: 58%;
}
.web_sns ul li:nth-of-type(even) {
  background-color: #232734;
}
.web_sns ul li:nth-of-type(odd) {
  background-color: #313648;
}

#header {
  width: 100%;
  max-width: 1920px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  padding-left: 25px;
}
.logo a {
  display: block;
  width: 158px;
  height: auto;
}

.headerIn {
  width: 62.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb {
  width: 920px;
  padding: 0 20px;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
}
.gnb ul li a {
  font-size: 21px;
  font-family: "rajdhani-semibold";
}

.whitepaper {
  width: 158px;
  min-width: 158px;
  height: 38px;
  border-radius: 18px;
  border: 1px solid #bfbfbf;
  text-align: center;
  background-color: #fff;
  line-height: 36px;
}
.whitepaper span {
  font-size: 13px;
  padding-left: 20px;
  background-image: url(../images/main/icon/document_icon_mobile.svg);
  background-repeat: no-repeat;
  background-size: 13px auto;
  background-position: 0 center;
}

.lang ul {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding-right: 25px;
}
.lang ul li a {
  width: 35px;
  height: 35px;
  line-height: 33px;
  color: #b5b5b5;
  display: block;
  text-align: center;
  font-family: "rajdhani-semibold";
  font-size: 21px;
  position: relative;
}
.lang ul li.on a {
  color: #7c40e7;
}
.lang ul li.on a::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #7c40e7;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%);
}

/* container */
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* web container */
.cont1,
.cont2,
.cont3,
.cont4,
.cont5,
.cont6,
.cont7 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: center 0;
}

/* ========== footer 영역 ========== */
#footer {
  width: 100%;
  height: 420px;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(to left, #7c40e7, #729fff);
}

.news {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.news .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 176px;
  padding: 0 20px;
}
.news .inner h3 {
  font-size: 22px;
  font-family: "NotoSansKR-Bold";
}
.news .inner .form {
  position: relative;
}
.news .inner input[type=email] {
  width: 540px;
  background: #fff;
  border-radius: 10px;
  padding: 14px 150px 14px 20px;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "NotoSansKR-Regular";
}
.news .inner input::placeholder {
  color: #d2d2d2;
}
.news .inner .submit {
  width: 140px;
  text-align: center;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  font-family: "NotoSansKR-Medium";
  font-size: 20px;
  padding: 14px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}

.f-info .inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.f-info .flogo {
  margin-top: 42px;
}
.f-info .flogo a {
  display: block;
  width: 180px;
}
.f-info .sitemap {
  margin-top: 46px;
  width: 70%;
}
.f-info .sitemap > ul {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.f-info .sitemap > ul > li {
  width: 24%;
}
.f-info .sitemap > ul > li .sub_nav {
  font-size: 20px;
  font-family: "NotoSansKR-Bold";
  margin-bottom: 20px;
}
.f-info .sitemap > ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 18px;
  font-family: "NotoSansKR-Medium";
}
.f-info .sitemap > ul > li > ul li {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.f-info .sitemap > ul > li > ul li img {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* =============== 태블릿 시작 =============== */
@media (max-width: 1199px) {
  /* 768 계산 */
  /* display none 영역 */
  .web_sns {
    display: none;
  }

  .gnb {
    display: none;
  }

  .whitepaper {
    display: none;
  }

  .pc_br {
    display: none;
  }

  .mobi_br {
    display: none;
  }

  .pc_img {
    display: none;
  }

  .tablet_img {
    display: block;
  }

  .mobile_img {
    display: none;
  }

  /* display none 영역 끝 */
  #header {
    padding: 0 14px;
    max-width: none;
  }
  #header .headerIn {
    display: none;
    width: auto;
  }
  #header .menu_btn {
    display: block;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    position: relative;
  }
  #header .menu_btn .line {
    width: 28px;
    height: 2px;
    background-color: #8643ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header .menu_btn .line::after, #header .menu_btn .line::before {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: #8643ff;
    position: absolute;
    left: 0;
  }
  #header .menu_btn .line::after {
    top: 10px;
  }
  #header .menu_btn .line::before {
    top: -10px;
  }

  .logo {
    padding-left: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo a {
    width: 208px;
  }

  .lang ul {
    padding-right: 0;
  }
  /* talbet container */
  .cont1,
.cont2,
.cont3,
.cont4,
.cont5,
.cont6,
.cont7 {
    max-width: none;
  }

  /* ========== 태블릿 footer 영역 ========== */
  #footer {
    width: 100%;
    height: auto;
    max-width: none;
  }

  .news .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26.0416vw;
    padding: 0;
    gap: 2.60416vw;
  }
  .news .inner h3 {
    font-size: 2.86458vw;
    font-family: "NotoSansKR-Bold";
  }
  .news .inner input[type=email] {
    width: 70.3125vw;
    border-radius: 10px;
    /* 계산 x */
    padding: 1.82291vw 19.53125vw 1.82291vw 2.60416vw;
    font-size: 2.60416vw;
  }
  .news .inner .submit {
    width: 18.22916vw;
    border-radius: 10px;
    /* 계산 x */
    font-size: 2.60416vw;
    padding: 1.82291vw 2.60416vw;
    position: absolute;
    top: 0;
    right: 0;
  }

  .f-info .inner {
    width: 100%;
    padding: 0;
    flex-direction: column;
    gap: 0;
  }
  .f-info .flogo {
    margin-top: 2.60416vw;
    margin-bottom: 2.60416vw;
    padding-left: 3.64583vw;
  }
  .f-info .flogo a {
    display: block;
    width: 23.4375vw;
  }
  .f-info .sitemap {
    width: 100%;
    margin-top: 0;
    padding: 4.42708vw 3.64583vw 4.42708vw;
  }
  .f-info .sitemap > ul {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 8.02083vw;
  }
  .f-info .sitemap > ul > li .sub_nav {
    font-size: 2.60416vw;
    margin-bottom: 2.60416vw;
  }
  .f-info .sitemap > ul > li > ul {
    gap: 1.82291vw;
    font-size: 2.0833vw;
  }

  /* =================== 태블릿 사이드 메뉴 ============== */
  .side_menu {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .side_menu.on {
    display: block;
  }

  .side_bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }

  .side_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow-y: scroll;
    padding: 3.125vmin;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .side_inner .close {
    width: 40px;
    height: 40px;
    position: relative;
    margin-bottom: 16px;
  }
  .side_inner .close::after, .side_inner .close::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: #7c42e7;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .side_inner .close::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .side_inner .close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .side_inner .side_gnb {
    margin-bottom: 5.427083vmin;
  }
  .side_inner .side_gnb ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .side_inner .side_gnb li {
    width: 39.0625vmin;
    text-align: center;
    line-height: 10vmin;
  }
  .side_inner .side_gnb li a {
    display: block;
    height: 9.63541vmin;
    font-size: 3.90625vmin;
    font-family: "rajdhani-bold";
  }
  .side_inner .side_gnb li.on a {
    color: #7c42e7;
  }
  .side_inner .side_sns {
    margin: 0 auto 10vmin;
  }
  .side_inner .side_sns p {
    font-size: 3.90625vmin;
    text-align: center;
    color: #8a8ab3;
    margin-bottom: 2vw;
    font-family: "rajdhani-semibold";
  }
  .side_inner .side_sns ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.864583vmin;
    justify-content: center;
  }
  .side_inner .side_sns li a {
    display: block;
    width: 9.328125vmin;
  }
  .side_inner .side_whitepaper {
    width: 39.0625vmin;
    height: 8.85416vmin;
    margin: 0 auto;
    text-align: center;
    font-size: 2.8552vmin;
    line-height: 7.8125vmin;
    border: 2px solid #bfbfbf;
    border-radius: 40px;
  }
  .side_inner .side_whitepaper span {
    padding-left: 4.42708vmin;
    background: url(../images/main/icon/document_icon_mobile.svg) no-repeat 0 center/auto 3.90625vmin;
  }

  .side_inner.on {
    transform: translateX(0);
  }
}
/* ========== 모바일 시작 ========== */
@media (max-width: 767px) {
  /* 모바일 640 계산 */
  .mobi_br {
    display: block;
  }

  .pc_img {
    display: none;
  }

  .tablet_img {
    display: none;
  }

  .mobile_img {
    display: block;
  }

  /* 모바일 header */
  #header {
    height: 60px;
  }
  #header .menu_btn {
    width: 40px;
    height: 40px;
  }
  #header .menu_btn .line {
    width: 20px;
    height: 2px;
  }
  #header .menu_btn .line::after, #header .menu_btn .line::before {
    width: 20px;
    height: 2px;
  }
  #header .menu_btn .line::after {
    top: 8px;
  }
  #header .menu_btn .line::before {
    top: -8px;
  }

  .logo a {
    width: 140px;
  }

  .lang ul {
    gap: 6px;
  }
  .lang ul li a {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  /* ========== 모바일 footer 영역 ========== */
  .news .inner {
    height: 31.25vw;
    gap: 3.125vw;
  }
  .news .inner h3 {
    font-size: 3.4375vw;
  }
  .news .inner .form {
    width: 86%;
  }
  .news .inner input[type=email] {
    width: 80%;
    border-radius: 10px;
    /* 계산 x */
    padding: 2.1875vw 23.4375vw 2.1875vw 3.125vw;
    font-size: 3.125vw;
  }
  .news .inner .submit {
    width: 21.875vw;
    border-radius: 10px;
    /* 계산 x */
    font-size: 3.125vw;
    padding: 2.1875vw 3.125vw;
  }

  .f-info .inner {
    padding: 0;
  }
  .f-info .flogo {
    margin-top: 3.125vw;
    margin-bottom: 3.125vw;
    padding-left: 4.375vw;
  }
  .f-info .flogo a {
    display: block;
    width: 28.125vw;
  }
  .f-info .sitemap {
    margin-top: 0;
    padding: 5.3125vw 4.375vw 5.3125vw;
  }
  .f-info .sitemap > ul {
    gap: 5.375vw;
  }
  .f-info .sitemap > ul > li .sub_nav {
    font-size: 2.7vw;
    margin-bottom: 3.125vw;
  }
  .f-info .sitemap > ul > li > ul {
    gap: 2.1875vw;
    font-size: 2.5vw;
  }

  /* =================== 모바일 사이드 메뉴 ============== */
  .side_inner .side_gnb li a {
    font-size: 4.5vmin;
  }

  .side_inner .side_whitepaper {
    border: 1px solid #bfbfbf;
  }
}

/*# sourceMappingURL=common.css.map */
