@charset "utf-8";
@import "./settingScss.scss";

.cont1{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #f5f5f5;

  .inner{
    padding: 130px 28px 154px;
  }

  h2{
    font-size: 42px;
    font-family: $orbitron_bold;
    margin-bottom: 24px;
  }

  .context{
    font-size: 18px;
    font-family: $noto_medium;
    line-height: 1.5;
  }
}

.cont2{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  
  background: linear-gradient(to right, #161616 50%, #2d2d2d 50%);

  .inner{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  /* 공통값 */
  h3{
    font-size: 42px;
    font-family: $rajd_bold;
    color: #fff;
    margin-bottom: 28px;
  }

  .location_wrap{
    width: 434px;
    background-color: #161616;
    height: 620px;

    h3{
      padding-top: 70px;
    }

    .info_title{
      font-size: 18px;
      font-family: $noto_Bold;
      color: #fff;
      margin-bottom: 14px;
    }

    address{
      font-size: 18px;
      font-family: $noto_Regular;
      color: #fff;
      line-height: 1.4;
    }

    .follow{

      ul{
        display: flex;
        gap: 12px;
      }

      li{
        width: 57px;
        height: 57px;
      }
    }
    
  }

  .contact_wrap{
    width: 726px;
    height: 620px;
    background-color: #2d2d2d;
    padding-left: 60px;

    h3{
      padding-top: 70px;
      margin-bottom: 16px;
    }

    .context{
      font-size: 18px;
      font-family: $noto_Regular;
      color: #fff;
      margin-bottom: 50px;
    }

    form{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 16px;

      > div{
        display: flex;
        justify-content: space-between;

        label{
          font-size: 22px;
          font-family: $rajd_semibold;
          color: #fff;
        }
        input{
          width: 474px;
          padding: 10px;
          background: #fff;
          box-sizing: border-box;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        textarea{
          width: 474px;
          height: 114px;
          padding: 10px;
          box-sizing: border-box;
        }

        input, textarea{
          font-family: $rajd_medium;
          font-size: 20px;
        }

      }
      .submit{
        width: 180px;
        text-align: center;
        line-height: 46px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 20px;
        font-family: $rajd_semibold;
        margin-left: 193px;

        &:hover{
          background-color: #fff;
          color: #222;
        }
      }
    }
  }






}


/* ========== 태블릿 시작 ========== */
@include tablet{
  /* 태블릿 cont1 */
  .cont1{
    max-width: none;
  
    .inner{
      width: 100%;
      padding: 14.84375vw 3.64583vw 11.71875vw;
    }

    h2{
      font-size: 6.25vw;
      margin-bottom: 5.20833vw;
    }

    .context{
      font-size: 2.34375vw;
    }
  }


  /* 태블릿 cont2 */
  .cont2{
    max-width: none;
    
    background: none;
  
    .inner{
      width: 100%;
      padding: 0;
      flex-direction: column;
    }
  
    /* 공통값 */
    h3{
      font-size: 5.46875vw;
      margin-bottom: 3.64583vw;
    }
  
    .location_wrap{
      width: 100%;
      height: auto;
      display: flex;
      gap: 7.8125vw;
      padding: 0 3.64583vw 7.8125vw;

      .location{
        width: 80.72916vw;
      }
      
      h3{
        padding-top: 6.51041vw;
      }
  
      .info_title{
        font-size: 2.34375vw;
        margin-bottom: 1.82291vw;
      }
  
      address{
        font-size: 2.34375vw;
      }
  
      .follow{
  
        ul{
          gap: 1.30208vw;
        }
  
        li{
          width: 6.38020vw;
          height: 6.38020vw;
        }
      }
      
    }
  
    .contact_wrap{
      width: 100%;
      height: auto;
      padding: 0 3.64583vw 7.8125vw;

  
      h3{
        padding-top: 8.59375vw;
        margin-bottom: 2.08333vw;
      }
  
      .context{
        font-size: 2.34375vw;
        margin-bottom: 6.51041vw;
      }
  
      form{
        width: 100%;
        gap: 2.08333vw;
  
        > div{
  
          label{
            font-size: 2.86458vw;
          }
          input{
            width: 68.61979vw;
            padding: 1.30208vw;
          }
  
          textarea{
            width: 68.61979vw;
            height: 14.84375vw;
            padding: 1.30208vw;
          }
  
          input, textarea{
            font-size: 2.60416vw;
          }
  
        }
        .submit{
          width: 20.83333vw;
          line-height: 5.98958vw;
          font-size: 2.60416vw;
          margin-left: 24.08854vw;
        }
      }
    }
  
  
  }
}

@include mobile{
  /* 모바일 cont1 */
  .cont1{
  
    .inner{
      width: 100%;
      padding: 15.625vw 4.6875vw 15.625vw;
    }

    h2{
      font-size: 7.5vw;
      margin-bottom: 6.25vw;
    }

    .context{
      font-size: 3.125vw;
    }
  }

  /* 모바일 cont2 */
  .cont2{

    /* 공통값 */
    h3{
      font-size: 6.5625vw;
      margin-bottom: 4.375vw;
    }
  
    .location_wrap{
      width: 100%;
      flex-direction: column;
      gap: 6.25vw;
      padding: 0 4.6875vw 9.375vw;

      .location{
        width: 100%;
      }
      
      h3{
        padding-top: 9.375vw;
      }
  
      .info_title{
        font-size: 2.8125vw;
        margin-bottom: 2.1875vw;
      }
  
      address{
        font-size: 2.8125vw;
      }
  
      .follow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3.125vw;

        h3{
          padding-top: 0;
          margin-bottom: 0;
        }

        ul{
          gap: 1.5625vw;
        }
  
        li{
          width: 8.75vw;
          height: 8.75vw;
        }
      }
      
    }
  
    .contact_wrap{
      padding: 0 4.6875vw 10.9375vw;

  
      h3{
        padding-top: 10.3125vw;
        margin-bottom: 2.5vw;
      }
  
      .context{
        font-size: 2.8125vw;
        margin-bottom: 7.8125vw;
        line-height: 1.4;
      }
  
      form{
        gap: 2.5vw;
  
        > div{
  
          label{
            font-size: 3.4375vw;
          }
          input{
            width: 67.1875vw;
            padding: 1.5625vw;
          }
  
          textarea{
            width: 67.1875vw;
            height: 23.4375vw;
            padding: 1.5625vw;
          }
  
          input, textarea{
            font-size: 3.125vw;
          }
  
        }
        .submit{
          width: 23.75vw;
          line-height: 7.1875vw;
          font-size: 3.125vw;
          margin-left: 23.4375vw;
        }
      }
    }
  
  
  }
}

