@charset "UTF-8";
.cont1 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #f5f5f5;
}
.cont1 .inner {
  padding: 130px 28px 154px;
}
.cont1 h2 {
  font-size: 42px;
  font-family: "orbitron-bold";
  margin-bottom: 24px;
}
.cont1 .context {
  font-size: 18px;
  font-family: "NotoSansKR-Medium";
  line-height: 1.5;
}

.cont2 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(to right, #161616 50%, #2d2d2d 50%);
  /* 공통값 */
}
.cont2 .inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.cont2 h3 {
  font-size: 42px;
  font-family: "rajdhani-bold";
  color: #fff;
  margin-bottom: 28px;
}
.cont2 .location_wrap {
  width: 434px;
  background-color: #161616;
  height: 620px;
}
.cont2 .location_wrap h3 {
  padding-top: 70px;
}
.cont2 .location_wrap .info_title {
  font-size: 18px;
  font-family: "NotoSansKR-Bold";
  color: #fff;
  margin-bottom: 14px;
}
.cont2 .location_wrap address {
  font-size: 18px;
  font-family: "NotoSansKR-Regular";
  color: #fff;
  line-height: 1.4;
}
.cont2 .location_wrap .follow ul {
  display: flex;
  gap: 12px;
}
.cont2 .location_wrap .follow li {
  width: 57px;
  height: 57px;
}
.cont2 .contact_wrap {
  width: 726px;
  height: 620px;
  background-color: #2d2d2d;
  padding-left: 60px;
}
.cont2 .contact_wrap h3 {
  padding-top: 70px;
  margin-bottom: 16px;
}
.cont2 .contact_wrap .context {
  font-size: 18px;
  font-family: "NotoSansKR-Regular";
  color: #fff;
  margin-bottom: 50px;
}
.cont2 .contact_wrap form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.cont2 .contact_wrap form > div {
  display: flex;
  justify-content: space-between;
}
.cont2 .contact_wrap form > div label {
  font-size: 22px;
  font-family: "rajdhani-semibold";
  color: #fff;
}
.cont2 .contact_wrap form > div input {
  width: 474px;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
}
.cont2 .contact_wrap form > div input::-webkit-outer-spin-button,
.cont2 .contact_wrap form > div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cont2 .contact_wrap form > div textarea {
  width: 474px;
  height: 114px;
  padding: 10px;
  box-sizing: border-box;
}
.cont2 .contact_wrap form > div input, .cont2 .contact_wrap form > div textarea {
  font-family: "rajdhani-medium";
  font-size: 20px;
}
.cont2 .contact_wrap form .submit {
  width: 180px;
  text-align: center;
  line-height: 46px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  font-family: "rajdhani-semibold";
  margin-left: 193px;
}
.cont2 .contact_wrap form .submit:hover {
  background-color: #fff;
  color: #222;
}

/* ========== 태블릿 시작 ========== */
@media (max-width: 1199px) {
  /* 태블릿 cont1 */
  .cont1 {
    max-width: none;
  }
  .cont1 .inner {
    width: 100%;
    padding: 14.84375vw 3.64583vw 11.71875vw;
  }
  .cont1 h2 {
    font-size: 6.25vw;
    margin-bottom: 5.20833vw;
  }
  .cont1 .context {
    font-size: 2.34375vw;
  }

  /* 태블릿 cont2 */
  .cont2 {
    max-width: none;
    background: none;
    /* 공통값 */
  }
  .cont2 .inner {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .cont2 h3 {
    font-size: 5.46875vw;
    margin-bottom: 3.64583vw;
  }
  .cont2 .location_wrap {
    width: 100%;
    height: auto;
    display: flex;
    gap: 7.8125vw;
    padding: 0 3.64583vw 7.8125vw;
  }
  .cont2 .location_wrap .location {
    width: 80.72916vw;
  }
  .cont2 .location_wrap h3 {
    padding-top: 6.51041vw;
  }
  .cont2 .location_wrap .info_title {
    font-size: 2.34375vw;
    margin-bottom: 1.82291vw;
  }
  .cont2 .location_wrap address {
    font-size: 2.34375vw;
  }
  .cont2 .location_wrap .follow ul {
    gap: 1.30208vw;
  }
  .cont2 .location_wrap .follow li {
    width: 6.3802vw;
    height: 6.3802vw;
  }
  .cont2 .contact_wrap {
    width: 100%;
    height: auto;
    padding: 0 3.64583vw 7.8125vw;
  }
  .cont2 .contact_wrap h3 {
    padding-top: 8.59375vw;
    margin-bottom: 2.08333vw;
  }
  .cont2 .contact_wrap .context {
    font-size: 2.34375vw;
    margin-bottom: 6.51041vw;
  }
  .cont2 .contact_wrap form {
    width: 100%;
    gap: 2.08333vw;
  }
  .cont2 .contact_wrap form > div label {
    font-size: 2.86458vw;
  }
  .cont2 .contact_wrap form > div input {
    width: 68.61979vw;
    padding: 1.30208vw;
  }
  .cont2 .contact_wrap form > div textarea {
    width: 68.61979vw;
    height: 14.84375vw;
    padding: 1.30208vw;
  }
  .cont2 .contact_wrap form > div input, .cont2 .contact_wrap form > div textarea {
    font-size: 2.60416vw;
  }
  .cont2 .contact_wrap form .submit {
    width: 20.83333vw;
    line-height: 5.98958vw;
    font-size: 2.60416vw;
    margin-left: 24.08854vw;
  }
}
@media (max-width: 767px) {
  /* 모바일 cont1 */
  .cont1 .inner {
    width: 100%;
    padding: 15.625vw 4.6875vw 15.625vw;
  }
  .cont1 h2 {
    font-size: 7.5vw;
    margin-bottom: 6.25vw;
  }
  .cont1 .context {
    font-size: 3.125vw;
  }

  /* 모바일 cont2 */
  .cont2 {
    /* 공통값 */
  }
  .cont2 h3 {
    font-size: 6.5625vw;
    margin-bottom: 4.375vw;
  }
  .cont2 .location_wrap {
    width: 100%;
    flex-direction: column;
    gap: 6.25vw;
    padding: 0 4.6875vw 9.375vw;
  }
  .cont2 .location_wrap .location {
    width: 100%;
  }
  .cont2 .location_wrap h3 {
    padding-top: 9.375vw;
  }
  .cont2 .location_wrap .info_title {
    font-size: 2.8125vw;
    margin-bottom: 2.1875vw;
  }
  .cont2 .location_wrap address {
    font-size: 2.8125vw;
  }
  .cont2 .location_wrap .follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.125vw;
  }
  .cont2 .location_wrap .follow h3 {
    padding-top: 0;
    margin-bottom: 0;
  }
  .cont2 .location_wrap .follow ul {
    gap: 1.5625vw;
  }
  .cont2 .location_wrap .follow li {
    width: 8.75vw;
    height: 8.75vw;
  }
  .cont2 .contact_wrap {
    padding: 0 4.6875vw 10.9375vw;
  }
  .cont2 .contact_wrap h3 {
    padding-top: 10.3125vw;
    margin-bottom: 2.5vw;
  }
  .cont2 .contact_wrap .context {
    font-size: 2.8125vw;
    margin-bottom: 7.8125vw;
    line-height: 1.4;
  }
  .cont2 .contact_wrap form {
    gap: 2.5vw;
  }
  .cont2 .contact_wrap form > div label {
    font-size: 3.4375vw;
  }
  .cont2 .contact_wrap form > div input {
    width: 67.1875vw;
    padding: 1.5625vw;
  }
  .cont2 .contact_wrap form > div textarea {
    width: 67.1875vw;
    height: 23.4375vw;
    padding: 1.5625vw;
  }
  .cont2 .contact_wrap form > div input, .cont2 .contact_wrap form > div textarea {
    font-size: 3.125vw;
  }
  .cont2 .contact_wrap form .submit {
    width: 23.75vw;
    line-height: 7.1875vw;
    font-size: 3.125vw;
    margin-left: 23.4375vw;
  }
}

/*# sourceMappingURL=contact_kr.css.map */
