@charset "UTF-8";
.cont1 {
  background: #f5f5f5;
  /* ========== 공통 값 ========== */
}
.cont1 .tab_img {
  display: none;
}
.cont1 .inner {
  padding: 140px 20px 130px;
}
.cont1 h2 {
  width: 300px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #bb00c7, #8813ff, #3992ff), linear-gradient(to right, #8b2eff, #8b2eff);
  font-family: "rajdhani-bold";
  font-size: 60px;
  text-align: center;
  color: #8b2eff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.cont1 .context {
  font-size: 18px;
  text-align: center;
  font-family: "NotoSansKR-Medium";
  line-height: 1.4;
  margin-bottom: 50px;
}
.cont1 .text_wrap {
  width: 572px;
}
.cont1 .text_wrap h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-bottom: 8px;
  padding-right: 44px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.cont1 .text_wrap .title_text {
  font-size: 42px;
  font-family: "rajdhani-bold";
  color: #fff;
  margin-top: 44px;
}
.cont1 .text_wrap .num {
  font-size: 100px;
  font-family: "rajdhani-regular";
  color: #fff;
}
.cont1 .text_wrap .cont_text {
  padding: 30px 30px 20px 26px;
  font-size: 16px;
  line-height: 1.5;
}
.cont1 .images_wrap {
  width: 572px;
}
.cont1 .content1,
.cont1 .content2,
.cont1 .content3,
.cont1 .content4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;
}
.cont1 .content1 h3 {
  background-image: url(../teratto_event_img/common/head_ele.png);
}
.cont1 .content2 .text_wrap {
  order: 2;
}
.cont1 .content2 .images_wrap {
  order: 1;
}
.cont1 .content2 .title_text {
  order: 2;
}
.cont1 .content2 .num {
  order: 1;
}
.cont1 .content2 h3 {
  padding-left: 44px;
  padding-right: 28px;
  background-image: url(../teratto_event_img/common/head_ele2.png);
}
.cont1 .content3 h3 {
  background-image: url(../teratto_event_img/common/head_ele.png);
}
.cont1 .content4 {
  margin-bottom: 0;
}
.cont1 .content4 .text_wrap {
  order: 2;
}
.cont1 .content4 .images_wrap {
  order: 1;
}
.cont1 .content4 .title_text {
  order: 2;
}
.cont1 .content4 .num {
  order: 1;
}
.cont1 .content4 h3 {
  padding-left: 44px;
  padding-right: 28px;
  background-image: url(../teratto_event_img/common/head_ele2.png);
}

/* ============= 태블릿 시작 ============= */
@media (max-width: 1199px) {
  .cont1 {
    /* ========== 태블릿 공통 값 ========== */
  }
  .cont1 .pc_br {
    display: none;
  }
  .cont1 .pc_img {
    display: none;
  }
  .cont1 .tab_img {
    display: block;
  }
  .cont1 .inner {
    width: 100%;
    padding: 15.625vw 3.64583vw 15.625vw;
  }
  .cont1 h2 {
    width: 31.25vw;
    font-size: 6.51041vw;
    margin-bottom: 3.90625vw;
  }
  .cont1 .context {
    font-size: 2.34375vw;
    margin-bottom: 5.20833vw;
  }
  .cont1 .text_wrap {
    width: 45.57291vw;
  }
  .cont1 .text_wrap h3 {
    width: 100%;
    padding-left: 2.34375vw;
    padding-bottom: 1.04166vw;
    padding-right: 3.38541vw;
    padding-top: 1.04166vw;
  }
  .cont1 .text_wrap .title_text {
    font-size: 3.64583vw;
    margin-top: 3.38541vw;
  }
  .cont1 .text_wrap .num {
    font-size: 8.07291vw;
  }
  .cont1 .text_wrap .cont_text {
    padding: 3.90625vw 3.90625vw 2.60416vw 2.08333vw;
    font-size: 2.08333vw;
    line-height: 1.4;
  }
  .cont1 .images_wrap {
    width: 45.57291vw;
  }
  .cont1 .content1,
.cont1 .content2,
.cont1 .content3,
.cont1 .content4 {
    box-shadow: 1vw 1vw 2.34375vw rgba(0, 0, 0, 0.16);
    margin-bottom: 5.2vw;
  }
  .cont1 .content2 .text_wrap {
    order: 2;
  }
  .cont1 .content2 .images_wrap {
    order: 1;
  }
  .cont1 .content2 .title_text {
    order: 2;
  }
  .cont1 .content2 .num {
    order: 1;
  }
  .cont1 .content2 h3 {
    padding-left: 3.38541vw;
    padding-right: 2.34375vw;
  }
  .cont1 .content4 .text_wrap {
    order: 2;
  }
  .cont1 .content4 .images_wrap {
    order: 1;
  }
  .cont1 .content4 .title_text {
    order: 2;
  }
  .cont1 .content4 .num {
    order: 1;
  }
  .cont1 .content4 h3 {
    padding-left: 2.34375vw;
    padding-right: 3.38541vw;
  }
}
/* ============= 모바일 시작 ============= */
@media (max-width: 767px) {
  .cont1 {
    /* ========== 태블릿 공통 값 ========== */
  }
  .cont1 .pc_img {
    display: block;
  }
  .cont1 .tab_img {
    display: none;
  }
  .cont1 .inner {
    padding: 12.5vw 4.6875vw 10.9375vw;
  }
  .cont1 h2 {
    width: 39.0625vw;
    font-size: 8.75vw;
    margin-bottom: 4.6875vw;
  }
  .cont1 .context {
    font-size: 2.8125vw;
    margin-bottom: 7.5vw;
  }
  .cont1 .text_wrap {
    width: 100%;
  }
  .cont1 .text_wrap h3 {
    padding-left: 4.375vw;
    padding-bottom: 1.25vw;
    padding-right: 8.4375vw;
    padding-top: 1.875vw;
  }
  .cont1 .text_wrap .title_text {
    font-size: 6.5625vw;
    margin-top: 7.1875vw;
  }
  .cont1 .text_wrap .num {
    font-size: 15.625vw;
  }
  .cont1 .text_wrap .cont_text {
    padding: 4.375vw 4.6875vw 4.375vw 4.6875vw;
    font-size: 2.5vw;
    line-height: 1.4;
  }
  .cont1 .images_wrap {
    width: 100%;
    padding: 0 4.0625vw 5vw;
  }
  .cont1 .content1,
.cont1 .content2,
.cont1 .content3,
.cont1 .content4 {
    box-shadow: 1vw 1vw 2.8125vw rgba(0, 0, 0, 0.16);
    margin-bottom: 8vw;
    flex-direction: column;
  }
  .cont1 .content2 .text_wrap {
    order: 1;
  }
  .cont1 .content2 .images_wrap {
    order: 2;
  }
  .cont1 .content2 .title_text {
    order: 1;
  }
  .cont1 .content2 .num {
    order: 2;
  }
  .cont1 .content2 h3 {
    padding-left: auto;
    padding-right: auto;
    background-image: url(../teratto_event_img/common/head_ele.png);
  }
  .cont1 .content4 .text_wrap {
    order: 1;
  }
  .cont1 .content4 .images_wrap {
    order: 2;
  }
  .cont1 .content4 .title_text {
    order: 1;
  }
  .cont1 .content4 .num {
    order: 2;
  }
  .cont1 .content4 h3 {
    padding-left: auto;
    padding-right: auto;
    background-image: url(../teratto_event_img/common/head_ele.png);
  }
}

/*# sourceMappingURL=event_En.css.map */
