@charset "utf-8";


/* noto - sans KR */
@font-face {
    src: url(../font/NotoSansKR-Black.otf) format('opentype');
    font-family: "NotoSansKR-Black";
}

@font-face {
    src: url(../font/NotoSansKR-Bold.otf) format('opentype');
    font-family: "NotoSansKR-Bold";
}

@font-face {
    src: url(../font/NotoSansKR-Light.otf) format('opentype');
    font-family: "NotoSansKR-Light";
}

@font-face {
    src: url(../font/NotoSansKR-Medium.otf) format('opentype');
    font-family: "NotoSansKR-Medium";
}

@font-face {
    src: url(../font/NotoSansKR-Regular.otf) format('opentype');
    font-family: "NotoSansKR-Regular";
}

@font-face {
    src: url(../font/NotoSansKR-Thin.otf) format('opentype');
    font-family: "NotoSansKR-Thin";
}


/* Orbitron */
@font-face{
    src: url(../font/Orbitron-Black.ttf) format('truetype');
    font-family: "orbitron-black";
}
@font-face{
    src: url(../font/Orbitron-Bold.ttf) format('truetype');
    font-family: "orbitron-bold";
}
@font-face{
    src: url(../font/Orbitron-ExtraBold.ttf) format('truetype');
    font-family: "orbitron-extrabold";
}
@font-face{
    src: url(../font/Orbitron-Medium.ttf) format('truetype');
    font-family: "orbitron-medium";
}
@font-face{
    src: url(../font/Orbitron-Regular.ttf) format('truetype');
    font-family: "orbitron-regular";
}
@font-face{
    src: url(../font/Orbitron-SemiBold.ttf) format('truetype');
    font-family: "orbitron-semibold";
}


/* Rajdhani */
@font-face{
    src: url(../font/Rajdhani-Bold.ttf) format('truetype');
    font-family: "rajdhani-bold";
}
@font-face{
    src: url(../font/Rajdhani-Light.ttf) format('truetype');
    font-family: "rajdhani-light";
}
@font-face{
    src: url(../font/Rajdhani-Medium.ttf) format('truetype');
    font-family: "rajdhani-medium";
}
@font-face{
    src: url(../font/Rajdhani-Regular.ttf) format('truetype');
    font-family: "rajdhani-regular";
}
@font-face{
    src: url(../font/Rajdhani-SemiBold.ttf) format('truetype');
    font-family: "rajdhani-semibold";
}