@charset "utf-8";

/* MontserratAlternates */
@font-face {
    src: url(../font/Montserrat-ExtraBold.ttf) format('truetype');
    font-family: "Mont-ExtraBold";
}

/* noto - sans KR */
@font-face {
    src: url(../font/Montserrat-Bold.ttf) format('truetype');
    font-family: "Mont-Bold";
}

@font-face {
    src: url(../font/Montserrat-SemiBold.ttf) format('truetype');
    font-family: "Mont-SemiBold";
}

@font-face {
    src: url(../font/Montserrat-Medium.ttf) format('truetype');
    font-family: "Mont-Medium";
}

@font-face {
    src: url(../font/Montserrat-Regular.ttf) format('truetype');
    font-family: "Mont-Regular";
}



/* roboto */
@font-face{
    src: url(../font/roboto-medium.ttf) format('truetype');
    font-family: "Roboto-Medium";
}
@font-face{
    src: url(../font/roboto-regular.ttf) format('truetype');
    font-family: "Roboto-Regular";
}
@font-face{
    src: url(../font/roboto-bold.ttf) format('truetype');
    font-family: "Roboto-Bold";
}

