@charset "UTF-8";
#header .start_btn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 200px;
  height: auto;
}

#container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/web_guide/back.jpg);
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: center 0;
  background-attachment: fixed;
}

.cont1_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
}

.cont1_inner h2,
.cont2_inner h2,
.cont3_inner h2,
.cont4_inner h2 {
  color: #fff;
  font-size: 38px;
}

.cont1_inner h2 {
  padding-top: 200px;
  margin-bottom: 58px;
}

.cont1_inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont1_inner .menu_list {
  width: 148px;
}

.cont1_inner .menu_list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.cont1_inner .menu_list li {
  width: 100%;
  height: 44px;
}

.cont1_inner .menu_list li button {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  display: block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 44px;
}

.cont1_inner .menu_list li.on button {
  color: #00ffa8;
  border-color: #00ffa8;
}

.cont1_inner .menu_content {
  width: 836px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont1_inner .menu_content .text_wrap {
  width: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.cont1_inner .menu_content .text_wrap li {
  padding: 20px 18px;
  border-radius: 5px;
  background-color: #283e7c;
  position: relative;
  display: none;
  line-height: 1.4;
  position: absolute;
  left: 0;
}

.cont1_inner .menu_content .text_wrap li::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: -18px;
  border-right: 18px solid #283e7c;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(1) {
  top: 0;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(2) {
  top: 56px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(3) {
  top: 108px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(4) {
  top: 162px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(5) {
  top: 216px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(6) {
  top: 270px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(7) {
  top: auto;
  bottom: 0;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(7)::after {
  top: 24px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(8) {
  top: 378px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(9) {
  top: auto;
  bottom: 0;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(9)::after {
  top: 42px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(10) {
  top: auto;
  bottom: 0;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(10)::after {
  top: 150px;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(11) {
  top: auto;
  bottom: 0;
}

.cont1_inner .menu_content .text_wrap li:nth-of-type(11)::after {
  top: 110px;
}

.cont1_inner .menu_content .text_wrap li.on {
  display: block;
}

.cont1_inner .menu_content .text_wrap p {
  color: #00ffa8;
  margin-bottom: 22px;
}

.cont1_inner .menu_content .text_wrap p:last-child {
  margin-bottom: 0;
}

.cont1_inner .menu_content .gif_wrap {
  width: 578px;
  height: 578px;
}

.cont1_inner .menu_content .gif_wrap li {
  display: none;
}

.cont1_inner .menu_content .gif_wrap li.on {
  display: block;
}

/* ============= 태블릿 ============= */
/* 768픽셀 뷰포트 나누기 */
@media (max-width: 1023px) {
  #container {
    width: 100%;
    height: auto;
    background-image: none;
    background-size: auto;
    background-position: center 0;
    background-attachment: fixed;
  }
  .container_bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../images/tablet_guide/back1.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }
  /* 테블릿 cont1 */
  .cont1_inner {
    width: 100%;
    padding: 0 28px;
  }
  .cont1_inner h2 {
    padding-top: 200px;
    margin-bottom: 58px;
    font-size: 5.20833vw;
  }
  .cont1_inner .menu_list {
    width: 21.09375vw;
  }
  .cont1_inner .menu_list ul {
    gap: 1.171875vw;
  }
  .cont1_inner .menu_list li {
    height: 6.770833vw;
  }
  .cont1_inner .menu_list li button {
    font-size: 1.953125vw;
    line-height: 6.770833vw;
  }
  .cont1_inner .menu_content {
    width: 56.77083vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.82291vw;
  }
  .cont1_inner .menu_content .text_wrap {
    width: 56.77083vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
  .cont1_inner .menu_content .text_wrap li {
    padding: 2.604166vw 2.604166vw;
    position: static;
  }
  .cont1_inner .menu_content .text_wrap li::after {
    display: none;
  }
  .cont1_inner .menu_content .text_wrap p {
    margin-bottom: 2.86458vw;
    font-size: 1.953125vw;
  }
  .cont1_inner .menu_content .text_wrap p:last-child {
    margin-bottom: 0;
  }
  .cont1_inner .menu_content .gif_wrap {
    width: 56.77083vw;
    height: 56.77083vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .cont1_inner .menu_content .gif_wrap li {
    display: none;
  }
  .cont1_inner .menu_content .gif_wrap li.on {
    display: block;
  }
}

/* ============= 모바일 ============= */
/* 640픽셀 뷰포트 나누기 */
@media (max-width: 767px) {
  #header .start_btn {
    width: 28.84375vmin;
  }
  #container {
    width: 100%;
    height: auto;
    background-image: none;
    background-size: auto;
    background-position: center 0;
    background-attachment: fixed;
  }
  .container_bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../images/tablet_guide/back1.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }
  /* 모바일 cont1 */
  .cont1_inner {
    width: 100%;
    padding: 0;
  }
  .cont1_inner h2 {
    padding-top: 31.25vw;
    margin-bottom: 42px;
  }
  .cont1_inner .content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6.875vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont1_inner .menu_list {
    width: 100%;
  }
  .cont1_inner .menu_list ul {
    gap: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cont1_inner .menu_list li {
    width: 21.3125vw !important;
    height: 10.625vw;
  }
  .cont1_inner .menu_list li button {
    font-size: 2.34375vw;
    line-height: 1.3;
  }
  .cont1_inner .menu_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.8125vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont1_inner .menu_content .text_wrap {
    width: 83.4375vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
  .cont1_inner .menu_content .text_wrap li {
    padding: 3.125vw 3.125vw;
    position: static;
  }
  .cont1_inner .menu_content .text_wrap li::after {
    display: none;
  }
  .cont1_inner .menu_content .text_wrap p {
    margin-bottom: 3.4375vw;
    font-size: 2.8125vw;
  }
  .cont1_inner .menu_content .text_wrap p:last-child {
    margin-bottom: 0;
  }
  .cont1_inner .menu_content .gif_wrap {
    width: 65.625vw;
    height: 65.625vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .cont1_inner .menu_content .gif_wrap li {
    display: none;
  }
  .cont1_inner .menu_content .gif_wrap li.on {
    display: block;
  }
}
/*# sourceMappingURL=guidePageStyle.css.map */