@charset "UTF-8";
/* font color */
/* family */
/* noto */
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Black.otf) format("OpenType");
  font-family: "noto_black";
  font-display: swap;
}
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Bold.otf) format("OpenType");
  font-family: "noto_bold";
  font-display: swap;
}
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Light.otf) format("OpenType");
  font-family: "noto_light";
  font-display: swap;
}
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Medium.otf) format("OpenType");
  font-family: "noto_medium";
  font-display: swap;
}
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Regular.otf) format("OpenType");
  font-family: "noto_regular";
  font-display: swap;
}
@font-face {
  src: url(../font/NotoSansKR/NotoSansKR-Thin.otf) format("OpenType");
  font-family: "noto_thin";
  font-display: swap;
}
/* spoqa */
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf) format("OpenType");
  font-family: "spoqa_bold";
  font-display: swap;
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf) format("OpenType");
  font-family: "spoqa_light";
  font-display: swap;
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf) format("OpenType");
  font-family: "spoqa_medium";
  font-display: swap;
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf) format("OpenType");
  font-family: "spoqa_regular";
  font-display: swap;
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.otf) format("OpenType");
  font-family: "spoqa_thin";
  font-display: swap;
}
/* pc */
.side_open_btn {
  display: none;
}

.side_menu {
  display: none;
}

.mobile_h2 {
  display: none;
}

.mobi_br {
  display: none;
}

#wrap {
  position: relative;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

.headerIn {
  width: 100%;
  height: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  width: 178px;
}

.gnb ul {
  display: flex;
  align-items: center;
  gap: 64px;
}
.gnb li a {
  display: block;
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  font-family: "spoqa_medium";
}

.sign_wrap ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sign_wrap li a {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  line-height: 38px;
  font-family: "noto_regular";
  transition: color 0.3s, background 0.3s;
}
.sign_wrap li a:hover {
  background: #fff;
  color: initial;
}

.main_slider {
  width: 100%;
}
.main_slider li {
  display: flex;
  min-height: 630px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 21px;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: center 0;
}
.main_slider li[data-swiper-slide-index="0"] {
  background-image: url(../images/main/visual_01.png);
}
.main_slider li[data-swiper-slide-index="1"] {
  background-image: url(../images/main/visual_02.png);
}
.main_slider li .sub_title {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  font-family: "spoqa_medium";
}
.main_slider li h2 {
  color: #fff;
  font-size: 45px;
  line-height: 57px;
  font-family: "noto_bold";
}

.cont .inner {
  max-width: 1400px;
  padding: 100px 20px;
  margin: 0 auto;
}

.cont1 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.cont1 .img_wrap {
  max-width: 496px;
}
.cont1 .text_wrap h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  align-items: center;
  font-size: 36px;
  font-family: "noto_bold";
  color: #000;
  margin-bottom: 45px;
  line-height: 48px;
}
.cont1 .text_wrap h2 p {
  word-break: keep-all;
  text-align: center;
}
.cont1 .text_wrap h2 img {
  width: 57px;
}
.cont1 .text_wrap .box {
  max-width: 640px;
  min-height: 170px;
  background: #1273eb;
  border-radius: 20px;
  padding: 39px 37px;
  color: #fff;
  line-height: 1.5;
  font-size: 24px;
  line-height: 36px;
  word-break: keep-all;
  position: relative;
  font-family: "noto_medium";
}
.cont1 .text_wrap .box .en {
  font-family: "spoqa_medium";
  word-break: keep-all;
}
.cont1 .text_wrap .box::after {
  content: "";
  display: block;
  width: 36px;
  height: 24px;
  border-top-right-radius: 2px;
  border-right: 36px solid #1273eb;
  border-top: 36px solid transparent;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-85%);
  z-index: -1;
}

.cont2 {
  background: #f1f5fb;
}
.cont2 h2 {
  font-size: 45px;
  line-height: 57px;
  font-family: "spoqa_bold";
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}
.cont2 h2 .blue_color {
  color: #1273eb;
}
.cont2 .sub_title {
  font-size: 18px;
  line-height: 30px;
  color: #444;
  font-family: "noto_regular";
  text-align: center;
  margin-bottom: 80px;
}
.cont2 .sub_title .en {
  font-family: "spoqa_regular";
}
.cont2 .box_wrap {
  margin-bottom: 80px;
}
.cont2 .box_wrap ul {
  display: flex;
  gap: 146px;
  justify-content: center;
}
.cont2 .box_wrap li {
  position: relative;
  max-width: 370px;
}
.cont2 .box_wrap .icon_img {
  width: 50px;
  position: absolute;
  top: -10px;
  left: -61px;
}
.cont2 .box_wrap .title {
  font-size: 30px;
  line-height: 42px;
  font-family: "spoqa_bold";
  margin-bottom: 30px;
}
.cont2 .box_wrap .text {
  font-size: 18px;
  color: #444;
  line-height: 30px;
  word-break: keep-all;
  font-family: "noto_regular";
}
.cont2 .box_wrap .text .en {
  font-family: "spoqa_regular";
}
.cont2 .info_wrap {
  background-color: rgba(121, 140, 168, 0.08);
  max-width: 1138px;
  margin: 0 auto;
  border-radius: 35px;
  padding: 20px 0 20px 76px;
  display: flex;
  align-items: center;
  color: #798ca8;
  font-family: "noto_medium";
}
.cont2 .info_wrap p {
  font-size: 24px;
  line-height: 30px;
  position: relative;
  word-break: keep-all;
}
.cont2 .info_wrap i {
  position: absolute;
  top: 60%;
  left: -36px;
  transform: translateY(-50%);
}

.cont3 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}
.cont3 .img_wrap {
  width: 556px;
}
.cont3 h2 {
  font-size: 36px;
  line-height: 45px;
  font-family: "spoqa_bold";
  margin-bottom: 57px;
}
.cont3 .text {
  max-width: 543px;
  font-size: 18px;
  line-height: 30px;
  font-family: "noto_regular";
  color: #333;
  word-break: keep-all;
  margin-bottom: 37px;
}
.cont3 .text .en {
  font-family: "spoqa_regular";
}
.cont3 .generator_btn {
  display: block;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background-color: #1273eb;
  border-radius: 40px;
  padding: 20px 0;
  font-family: "noto_bold";
  margin-bottom: 60px;
}
.cont3 .info_text {
  margin-bottom: 30px;
}
.cont3 .info_text p {
  position: relative;
  padding-left: 10px;
  font-family: "noto_regular";
  color: #777;
  font-size: 18px;
  line-height: 30px;
  word-break: keep-all;
}
.cont3 .info_text .icon {
  display: block;
  width: 4px;
  height: 4px;
  background: #777;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 0;
}
.cont3 .info_text .en {
  font-family: "spoqa_regular";
}
.cont3 .minting_btn {
  font-size: 18px;
  line-height: 30px;
  color: #1273eb;
  font-family: "noto_bold";
}

.cont4 {
  background: url(../images/main/blur.png) no-repeat 0 0/290px auto;
}
.cont4 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont4 .box h2 {
  font-size: 36px;
  line-height: 45px;
  font-family: "noto_bold";
  margin-bottom: 30px;
}
.cont4 .box h2 .en {
  font-family: "spoqa_bold";
}
.cont4 .box .sub_title {
  font-size: 18px;
  line-height: 30px;
  font-family: "noto_regular";
  margin-bottom: 60px;
}
.cont4 .box .sub_title .en {
  font-family: "spoqa_regular";
}
.cont4 .box .info_list ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cont4 .box .info_list li {
  display: flex;
  align-items: center;
  position: relative;
}
.cont4 .box .info_list .step {
  width: 86px;
  padding: 3px 0;
  border-radius: 40px;
  background: linear-gradient(281.74deg, #5912eb 0%, #1273eb 61.98%);
  color: #fff;
  text-align: center;
  font-family: "spoqa_bold";
  font-size: 16px;
  line-height: 30px;
  margin-right: 20px;
}
.cont4 .box .info_list .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "noto_bold";
  margin-right: 30px;
}
.cont4 .box .info_list .text {
  font-size: 18px;
  line-height: 30px;
  color: #333;
  font-family: "noto_regular";
}
.cont4 .box .info_list .dot {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 45px;
  left: 39px;
}
.cont4 .box .info_list .dot span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.cont4 .box .info_list li:nth-of-type(1) .dot span {
  background-color: #1273eb;
}
.cont4 .box .info_list li:nth-of-type(2) .dot span {
  background-color: #70abf3;
}
.cont4 .box .info_list li:nth-of-type(3) .dot span {
  background-color: #b7d4f9;
}
.cont4 .img_wrap {
  max-width: 678px;
  flex: 1;
}

.cont5 h2 {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-family: "noto_bold";
  margin-bottom: 80px;
}
.cont5 h2 .en {
  font-size: 37.5px;
  font-family: "spoqa_bold";
  color: #1273eb;
}
.cont5 .card_list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 30px 20px;
  margin: 0 auto;
}
.cont5 .card_list li {
  padding: 40px 24px 40px 130px;
  background: #f8f8f8;
  border-radius: 20px;
  position: relative;
}
.cont5 .card_list .icon {
  position: absolute;
  top: 20px;
  left: 30px;
}
.cont5 .card_list .title {
  font-size: 26px;
  line-height: 38px;
  color: #333;
  margin-bottom: 29px;
  font-family: "noto_bold";
}
.cont5 .card_list .text {
  font-size: 18px;
  line-height: 30px;
  color: #777;
  font-family: "noto_regular";
  word-break: keep-all;
}

.cont6 .inner {
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding: 0;
}
.cont6 .box {
  width: 50%;
  padding: 80px 36px 80px 60px;
}
.cont6 .box .text {
  max-width: 400px;
  font-family: "noto_regular";
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 30px;
  word-break: keep-all;
}
.cont6 .box:nth-of-type(1) {
  background-color: #1273eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cont6 .box:nth-of-type(1) .inquiry_btn {
  width: 160px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 34px;
  font-family: "noto_regular";
  padding: 12px 0;
  color: #fff;
}
.cont6 .box:nth-of-type(2) {
  background-color: #444;
}
.cont6 .box:nth-of-type(2) .text {
  max-width: 460px;
}
.cont6 .box .input_wrap {
  display: flex;
  gap: 14px;
}
.cont6 .box .input_wrap .email_input {
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  background: #fff;
  border: 2px solid #ddd;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 23px;
  font-family: "noto_regular";
}
.cont6 .box .input_wrap .email_input::placeholder {
  color: #aaa;
  font-family: "spoqa_regular";
}
.cont6 .box .input_wrap .submit_btn {
  max-width: 160px;
  min-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fafde8;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-family: "noto_regular";
}

.footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #222;
}
.footer .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px 54px;
}
.footer .box1 {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.6);
}
.footer .box1 ul {
  display: flex;
  flex-direction: column;
}
.footer .box1 li .head {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: "noto_bold";
}
.footer .box1 li a {
  font-size: 16px;
  font-family: "noto_medium";
  line-height: 24px;
  color: #777;
}
.footer .box2 {
  padding: 28px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.footer .box2 .copy {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  word-break: keep-all;
}
.footer .box2 ul {
  display: flex;
  gap: 30px;
}
.footer .box2 li a {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  font-family: "noto_regular";
}

/* ======= 태블릿 ======= */
@media screen and (max-width: 1024px) {
  .gnb {
    display: none;
  }

  .sign_wrap {
    display: none;
  }

  .mobile_h2 {
    display: block;
    margin-bottom: 40px;
    font-size: 28px !important;
    line-height: 1.3 !important;
  }

  .side_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 80px 0;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(100%);
  }
  .side_menu.on {
    opacity: 1;
    transform: translateX(0);
    touch-action: pan-y;
  }
  .side_menu .side_close_btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    right: 20px;
  }
  .side_menu .side_close_btn .line {
    display: block;
    width: 24px;
    height: 2px;
    background: #1273eb;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .side_menu .side_close_btn .line:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .side_menu .side_close_btn .line:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .side_menu .side_gnb {
    max-width: 230px;
    width: 100%;
    margin: 0 auto 50px;
  }
  .side_menu .side_gnb ul {
    display: flex;
    flex-direction: column;
  }
  .side_menu .side_gnb li.on a {
    color: #1273eb;
  }
  .side_menu .side_gnb li a {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 13px 30px;
    font-family: "spoqa_medium";
    line-height: 1.5;
    color: #798ca8;
  }
  .side_menu .side_sign_wrap {
    display: block;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
  }
  .side_menu .side_sign_wrap ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .side_menu .side_sign_wrap li.on a {
    color: #1273eb;
    border-color: #1273eb;
  }
  .side_menu .side_sign_wrap li a {
    display: block;
    line-height: 1.5;
    text-align: center;
    padding: 11px 20px;
    border: 1px solid #333;
    border-radius: 20px;
    font-family: "noto_regular";
    font-size: 16px;
  }

  .side_open_btn {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .side_open_btn .line {
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
  }

  .header {
    height: 60px;
  }

  .main_slider li {
    min-height: 380px;
    background-size: cover;
  }
  .main_slider li[data-swiper-slide-index="0"] {
    background-image: url(../images/main/main_banner_1024px.jpg);
  }
  .main_slider li .sub_title {
    font-size: 18px;
    line-height: 1.5;
  }
  .main_slider li h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .cont1 .inner {
    flex-direction: column;
  }
  .cont1 .img_wrap {
    max-width: 420px;
  }
  .cont1 .text_wrap h2 {
    flex-direction: column;
    font-size: 28px;
    line-height: 1.3;
  }
  .cont1 .text_wrap .box {
    max-width: 440px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    min-height: auto;
    line-height: 1.5;
  }

  .cont2 .inner {
    padding: 80px 20px;
  }
  .cont2 h2 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .cont2 .sub_title {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  .cont2 .box_wrap {
    margin-bottom: 40px;
  }
  .cont2 .box_wrap ul {
    max-width: 560px;
    margin: 0 auto;
    gap: 40px;
  }
  .cont2 .box_wrap li {
    max-width: 100%;
  }
  .cont2 .box_wrap .icon_img {
    left: 0;
    width: 40px;
    top: -4px;
  }
  .cont2 .box_wrap .title {
    padding-left: 52px;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .cont2 .box_wrap .text {
    font-size: 14px;
    line-height: 1.5;
  }
  .cont2 .info_wrap {
    max-width: 560px;
    font-size: 14px;
    line-height: 1.5;
    padding: 16px;
    border-radius: 12px;
  }
  .cont2 .info_wrap p {
    padding-left: 22px;
    font-size: 14px;
    line-height: 1.5;
  }
  .cont2 .info_wrap i {
    width: 16px;
    left: 0;
    top: 14px;
  }

  .cont3 .mobi_br {
    display: block;
  }
  .cont3 .inner {
    flex-direction: column;
    padding: 80px 20px;
    gap: 0;
  }
  .cont3 .img_wrap {
    max-width: 380px;
    width: auto;
    margin-bottom: 40px;
  }
  .cont3 .text_wrap {
    max-width: 440px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cont3 .text_wrap h2 {
    display: none;
  }
  .cont3 .text_wrap .text {
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.5;
  }
  .cont3 .generator_btn {
    padding: 16px 0;
    width: 260px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .cont3 .info_text {
    margin-bottom: 20px;
  }
  .cont3 .info_text p {
    font-size: 14px;
    line-height: 1.5;
  }
  .cont3 .info_text p .icon {
    top: 9px;
  }
  .cont3 .minting_btn {
    font-size: 16px;
  }

  .cont4 {
    background: none;
  }
  .cont4 .inner {
    flex-direction: column;
  }
  .cont4 .box h2 {
    text-align: center;
    font-size: 28px;
    line-height: 1.3;
  }
  .cont4 .box .sub_title {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
  }
  .cont4 .box .info_list ul {
    gap: 58px;
  }
  .cont4 .box .info_list li {
    flex-direction: column;
  }
  .cont4 .box .info_list .step {
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.5;
    padding: 6px 0;
    max-width: 78px;
  }
  .cont4 .box .info_list .title {
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 22px;
    line-height: 1.5;
  }
  .cont4 .box .info_list .text {
    font-size: 14px;
    line-height: 1.5;
  }
  .cont4 .box .info_list .dot {
    top: 0;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-end;
  }
  .cont4 .img_wrap {
    max-width: 400px;
    margin: 60px auto 0;
  }

  .cont5 .mobi_br {
    display: block;
  }
  .cont5 .inner {
    padding: 60px 20px;
  }
  .cont5 h2 {
    line-height: 1.3;
    font-size: 28px;
    word-break: keep-all;
  }
  .cont5 .card_list {
    max-width: 590px;
    margin: 0 auto;
  }
  .cont5 .card_list .icon {
    width: 48px;
    position: static;
    display: inline-block;
  }
  .cont5 .card_list ul {
    display: flex;
    gap: 0;
  }
  .cont5 .card_list li {
    padding: 30px 20px;
  }
  .cont5 .card_list .flex {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }
  .cont5 .card_list .title {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .cont5 .card_list .text {
    font-size: 14px;
    line-height: 1.5;
  }

  .cont6 .inner {
    flex-direction: column;
  }
  .cont6 .box {
    width: 100%;
    padding: 40px 20px;
  }
  .cont6 .box .mobi_br {
    display: block;
  }
  .cont6 .box .text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
  }
  .cont6 .box:nth-of-type(1) .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cont6 .box:nth-of-type(1) .inquiry_btn {
    font-size: 16px;
    padding: 12px 0;
    line-height: 1.5;
    width: 120px;
  }
  .cont6 .box:nth-of-type(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cont6 .box:nth-of-type(2) .text {
    max-width: 420px;
  }
  .cont6 .box .input_wrap {
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    align-items: center;
    gap: 24px;
  }
  .cont6 .box .input_wrap .email_input {
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }
  .cont6 .box .input_wrap .email_input::placeholder {
    font-size: 16px;
  }
  .cont6 .box .input_wrap .submit_btn {
    font-size: 16px;
    max-width: 120px;
    min-width: 120px;
    padding: 12px 0;
    line-height: 1.5;
  }

  .footer .box1 {
    gap: 60px;
  }
  .footer .box1 li .head {
    font-size: 14px;
  }
  .footer .box1 li a {
    font-size: 14px;
  }
  .footer .box2 .copy {
    font-size: 14px;
  }
  .footer .box2 li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .main_slider li {
    min-height: 300px;
  }
  .main_slider li[data-swiper-slide-index="0"] {
    background-image: url(../images/main/main_banner_768px.jpg);
  }
  .main_slider li h2 {
    max-width: 240px;
    line-height: 1.3;
    word-break: keep-all;
    text-align: center;
  }

  .cont1 .inner {
    padding: 60px 20px;
  }
  .cont1 .img_wrap {
    max-width: 280px;
  }
  .cont1 .text_wrap {
    max-width: 280px;
  }

  .cont2 h2 .blue_color {
    display: block;
  }
  .cont2 .sub_title {
    max-width: 230px;
    word-break: keep-all;
    margin: 0 auto 50px;
  }
  .cont2 .box_wrap ul {
    flex-direction: column;
    max-width: 280px;
  }
  .cont2 .info_wrap {
    max-width: 280px;
  }
  .cont2 .info_wrap p {
    line-height: 1.5;
  }

  .cont3 .img_wrap {
    max-width: 240px;
  }
  .cont3 .text_wrap {
    max-width: 280px;
  }

  .cont4 .mobi_br {
    display: block;
  }
  .cont4 .box .sub_title {
    word-break: keep-all;
  }
  .cont4 .img_wrap {
    max-width: 280px;
  }
}

/*# sourceMappingURL=index.css.map */
