@charset "utf-8";
@import "./settingScss.scss";

#container{}

.cont1{
  width: 100%;
  max-width: 1920px;
  background: url(../teratto_nft_img/web/back.jpg) no-repeat center 0 / 1920px auto;
  margin: 0 auto;

  .mobi_br{display: none;}

  .inner{
    padding: 126px 20px 112px;

    .title_wrap{
      margin-bottom: 60px;
    }
    h2{
      color: #fff;
      font-size: 46px;
      font-family: $orbitron_bold;
      margin-bottom: 20px;
      text-align: center;
    }

    .context{
      font-size: 18px;
      color: #fff;
      text-align: center;
      font-family: $noto_Regular;
      line-height: 1.5;
    }
    .mobi_wrap{
      display: none;
    }
  }
}

@include tablet{
  /* 태블릿 cont1 */
  .cont1{
    max-width: none;
    background: url(../teratto_nft_img/tablet/back.jpg) no-repeat 0 0 / cover;
  
    .mobi_br{
      display: block;
    }
  
    .inner{
      width: 100%;
      padding: 10.9375vw 3.64583vw 16.14583vw;
  
      .title_wrap{
        margin-bottom: 5.98958vw;
      }
      h2{
        font-size: 7.29166vw;
        margin-bottom: 4.166666vw;
        line-height: 1.2;
      }
  
      .context{
        font-size: 2.604166vw;
        padding: 0 6.25vw;
      }
      .pc_wrap{
        display: none;
      }
      .mobi_wrap{
        display: block;
      }

      .img_list{
        width: 74.73958vw;
        margin: 0 auto;
        height: 74.21875vw;

        li{
          width: 36.19791vw;
        }
      }
      
      .swiper-pagination{
        display: flex;
        gap: 18px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
        span{
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #fff;
        }
      }
      .swiper-pagination-bullet-active{
        background-color: #fff;
      }
    }
  }
}


@include mobile{
  /* 모바일 cont1 */
  .cont1{
    background: url(../teratto_nft_img/mobile/back1.jpg) no-repeat 0 0 / cover;
  
    .inner{
      padding: 18.75vw 4.6875vw 23.4375vw;
  
      .title_wrap{
        margin-bottom: 7.8125vw;
      }
      h2{
        font-size: 8.75vw;
        margin-bottom: 5vw;
      }
  
      .context{
        font-size: 2.96875vw;
        padding: 0;
      }
      .pc_wrap{
        display: none;
      }
      .mobi_wrap{
        display: block;
      }

      .img_list{
        width: 100%;
        margin: 0 auto;
        height: 91.0625vw;

        li{
          width: 44.0625vw;
        }
      }
      
      .swiper-pagination{
        gap: 18px;
        
        span{
          width: 10px;
          height: 10px;
        }
      }

    }
  }
}