@charset "UTF-8";
/* 폰트 패밀리 */
/* 컬러 */
.cont1 {
  padding-top: 66px;
  border-bottom: 1px solid #c5d4dd;
}
.cont1 .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 66px;
}
.cont1 h2 {
  width: 540px;
  margin-bottom: 25px;
  position: relative;
}
.cont1 h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  background-color: #40AAF8;
  position: absolute;
  top: -30px;
  left: 0;
}
.cont1 .img_wrap {
  width: 470px;
}
.cont1 .img_wrap img {
  image-rendering: -webkit-optimize-contrast;
}

.join_btn {
  display: block;
  width: 236px;
  height: 64px;
  line-height: 62px;
  text-align: center;
  border-radius: 10px;
}

.cont2 .content {
  border-bottom: 1px solid #c5d4dd;
}
.cont2 .content:last-child {
  border-bottom: none;
}
.cont2 .c1, .cont2 .c2, .cont2 .c3 {
  padding: 84px 0;
}
.cont2 .c1 .inner, .cont2 .c2 .inner, .cont2 .c3 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont2 .c1 .text_wrap .f_sub_title, .cont2 .c2 .text_wrap .f_sub_title, .cont2 .c3 .text_wrap .f_sub_title {
  margin-bottom: 19px;
  color: #353535;
}
.cont2 .c1 .text_wrap .sub_text, .cont2 .c2 .text_wrap .sub_text, .cont2 .c3 .text_wrap .sub_text {
  color: #5E5E5E;
}
.cont2 .c1 .join_btn {
  border: 2px solid #836FFF;
  color: #836FFF;
  transition: background-color 0.3s;
}
.cont2 .c1 .join_btn:hover {
  background-color: #836FFF;
  color: #fff;
}
.cont2 .c2 .join_btn {
  border: 2px solid #FF71A4;
  color: #FF71A4;
  transition: background-color 0.3s;
}
.cont2 .c2 .join_btn:hover {
  background-color: #FF71A4;
  color: #fff;
}
.cont2 .c3 .join_btn {
  border: 2px solid #40AAF8;
  color: #40AAF8;
  transition: background-color 0.3s;
}
.cont2 .c3 .join_btn:hover {
  background-color: #40AAF8;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cont1 {
    padding-top: 6.4516vw;
  }
  .cont1 .inner {
    padding-bottom: 6.4516vw;
  }
  .cont1 h2 {
    width: 52.7859vw;
    margin-bottom: 2.4437vw;
  }
  .cont1 h2::after {
    width: 4.8875vw;
    height: 0.782vw;
    top: -2.9325;
  }
  .cont1 .img_wrap {
    width: 45.9433vw;
  }

  .join_btn {
    width: 23.0694vw;
    height: 6.2561vw;
    line-height: 6.0606vw;
    border-radius: 0.9775vw;
  }

  .cont2 .c1, .cont2 .c2, .cont2 .c3 {
    padding: 8.2111vw 0;
  }
  .cont2 .c1 .text_wrap .f_sub_title, .cont2 .c2 .text_wrap .f_sub_title, .cont2 .c3 .text_wrap .f_sub_title {
    margin-bottom: 1.8572vw;
  }
}
@media screen and (max-width: 767px) {
  .cont1 {
    padding-top: 30px;
  }
  .cont1 .inner {
    padding-bottom: 30px;
  }
  .cont1 h2 {
    width: 51.0937vw;
    margin-bottom: 2.1875vw;
  }
  .cont1 h2::after {
    width: 7.8125vw;
    height: 1.25vw;
    top: -4.6875vw;
  }
  .cont1 .img_wrap {
    width: 32.0312vw;
  }

  .join_btn {
    width: 20.625vw;
    height: 10vw;
    line-height: 9.6875vw;
    border-radius: 1.5625vw;
  }

  .cont2 .text_wrap {
    width: 65vw;
  }
  .cont2 .c1, .cont2 .c2, .cont2 .c3 {
    padding: 7.8125vw 0;
  }
  .cont2 .c1 .text_wrap .f_sub_title, .cont2 .c2 .text_wrap .f_sub_title, .cont2 .c3 .text_wrap .f_sub_title {
    margin-bottom: 2.9687vw;
  }
}

/*# sourceMappingURL=NftMarketplace.css.map */
