@charset "UTF-8";
/* 폰트 패밀리 */
/* 컬러 */
.cont1 {
  border-bottom: 1px solid #c5d4dd;
}
.cont1 .inner {
  padding: 127px 22px 127px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.cont1 .text_wrap {
  width: 372px;
}
.cont1 h2 {
  margin-bottom: 6px;
  position: relative;
}
.cont1 h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  background-color: #40AAF8;
  position: absolute;
  top: -30px;
  left: 0;
}
.cont1 .sub_title {
  margin-bottom: 25px;
}
.cont1 .img_wrap {
  width: 764px;
}

.cont2 .content1 .inner {
  padding: 80px 22px 60px;
}
.cont2 .content1 h2 {
  margin-bottom: 61px;
}
.cont2 .content1 ul {
  display: flex;
  gap: 60px;
  padding-left: 37px;
  flex-direction: column;
}
.cont2 .content1 li {
  width: 100%;
  display: flex;
  gap: 55px;
  align-items: center;
}
.cont2 .content1 li:nth-of-type(1) .icon::after {
  content: "";
  display: block;
  width: 1px;
  height: 392px;
  background-color: #161616;
  position: absolute;
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: -1;
}
.cont2 .content1 .icon {
  width: 105px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}
.cont2 .content1 .icon img {
  width: 56px;
  height: 56px;
}
.cont2 .content1 .info_title {
  color: #40AAF8;
  margin-bottom: 15px;
}
.cont2 .content1 .info_text {
  color: #5e5e5e;
}
.cont2 .content2 .inner {
  padding: 60px 22px 90px;
}
.cont2 .content2 h2 {
  margin-bottom: 31px;
}
.cont2 .content2 .text_wrap {
  width: calc(100% - 4px);
  padding: 35px 34px 90px;
  border: 2px solid #40AAF8;
  border-radius: 21px;
  position: relative;
}
.cont2 .content2 .text_wrap .title {
  margin-bottom: 30px;
}
.cont2 .content2 .text_wrap .text {
  color: #5e5e5e;
}
.cont2 .content2 .text_wrap .join_btn {
  display: block;
  width: 102px;
  line-height: 41px;
  padding-left: 12px;
  color: #40aaf8;
  background: url(../images/common/join_arrow2.png) no-repeat 71px center/18px auto;
  position: absolute;
  right: 34px;
  bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cont1 .inner {
    padding: 12.4144vw 2.1505vw 12.4144vw;
    gap: 1.955vw;
  }
  .cont1 .text_wrap {
    width: 36.3636vw;
  }
  .cont1 h2 {
    margin-bottom: 0.5865vw;
  }
  .cont1 h2::after {
    width: 4.8875vw;
    height: 0.782vw;
    top: -2.9325vw;
  }
  .cont1 .sub_title {
    margin-bottom: 2.4437vw;
  }
  .cont1 .img_wrap {
    width: 74.6823vw;
  }

  .cont2 .content1 .inner {
    padding: 7.8201vw 2.1505vw 5.8651vw;
  }
  .cont2 .content1 h2 {
    margin-bottom: 5.9628vw;
  }
  .cont2 .content1 ul {
    gap: 5.8651vw;
    padding-left: 3.6168vw;
  }
  .cont2 .content1 li {
    width: 100%;
    gap: 5.3763vw;
  }
  .cont2 .content1 li:nth-of-type(1) .icon::after {
    height: 38.3186vw;
    top: 10.1661vw;
  }
  .cont2 .content1 .icon {
    width: 10.2639vw;
    height: 10.2639vw;
  }
  .cont2 .content1 .icon img {
    width: 5.474vw;
    height: 5.474vw;
  }
  .cont2 .content1 .info_title {
    margin-bottom: 1.4662vw;
  }
  .cont2 .content2 .inner {
    padding: 5.8651vw 2.1505vw 8.7976vw;
  }
  .cont2 .content2 h2 {
    margin-bottom: 3.0303vw;
  }
  .cont2 .content2 .text_wrap {
    width: calc(100% - 0.391vw);
    padding: 3.4213vw 3.3235vw 8.7976vw;
    border-radius: 2.0527vw;
  }
  .cont2 .content2 .text_wrap .title {
    margin-bottom: 2.9325vw;
  }
  .cont2 .content2 .text_wrap .join_btn {
    width: 9.9706vw;
    line-height: 3.0078vw;
    padding-left: 1.173vw;
    background: url(../images/common/join_arrow2.png) no-repeat 6.9403vw center/1.7595vw auto;
    right: 3.3235vw;
    bottom: 1.955vw;
  }
}
@media screen and (max-width: 767px) {
  .cont1 .inner {
    padding: 16.4062vw 4.0625vw 10.1562vw;
    gap: 3.4375vw;
  }
  .cont1 .text_wrap {
    width: 41.875vw;
  }
  .cont1 h2 {
    margin-bottom: 0.9375vw;
  }
  .cont1 h2::after {
    width: 4.6875vw;
    height: 0.7812vw;
    top: -3.125vw;
  }
  .cont1 .sub_title {
    margin-bottom: 3.9062vw;
  }
  .cont1 .img_wrap {
    width: 46.5625vw;
  }

  .cont2 .content1 .inner {
    padding: 6.25vw 4.0625vw 9.375vw;
  }
  .cont2 .content1 h2 {
    margin-bottom: 5.1562vw;
  }
  .cont2 .content1 ul {
    gap: 9.375vw;
    padding-left: 0;
  }
  .cont2 .content1 li {
    gap: 2.5vw;
  }
  .cont2 .content1 li:nth-of-type(1) .icon::after {
    height: 61.25vw;
    top: 16.25vw;
  }
  .cont2 .content1 .icon {
    width: 16.5625vw;
    height: 16.5625vw;
  }
  .cont2 .content1 .icon img {
    width: 8.75vw;
    height: 8.75vw;
  }
  .cont2 .content1 .info_wrap {
    width: 70.625vw;
  }
  .cont2 .content1 .info_title {
    margin-bottom: 2.0312vw;
  }
  .cont2 .content2 .inner {
    padding: 0 4.0625vw 8.9062vw;
  }
  .cont2 .content2 h2 {
    margin-bottom: 4.8437vw;
  }
  .cont2 .content2 .text_wrap {
    width: calc(100% - 0.625vw);
    padding: 5.4687vw 5.3125vw 14.0625vw;
    border-radius: 3.2812vw;
  }
  .cont2 .content2 .text_wrap .title {
    margin-bottom: 4.6875vw;
  }
  .cont2 .content2 .text_wrap .join_btn {
    width: 15.9375vw;
    line-height: 6.4062vw;
    padding-left: 1.875vw;
    background: url(../images/common/join_arrow2.png) no-repeat 11.0937vw center/2.8125vw auto;
    right: 5.3125vw;
    bottom: 3.125vw;
  }
}

/*# sourceMappingURL=NftValley.css.map */
