@charset "utf-8";

html, body{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*{margin:0; padding:0; word-break: inherit;}
body{line-height: 1; word-break: keep-all; color: #424242; background: #fff; font-family: "SCDream_Regular"; letter-spacing: normal;}
a{color:#424242; text-decoration: none;}
img{border:none; vertical-align:top; width: 100%; height: auto; /* image-rendering: -webkit-optimize-contrast; */}
ul, ol, li{list-style:none;} 
address{font-style:normal;}
h1,h2,h3,h4,h5,h6,div,ul,li,ol,dl,dt,dd,section,a,nav{box-sizing: border-box; font-weight: normal;}
i{font-style:normal;}
button{border: none; background: none; font-family: "SCDream_Regular"; cursor: pointer; color: #424242; display: block; box-sizing: border-box;}

input{-webkit-appearance: none; background: none; border: none; box-sizing: border-box;}

select{background-color: #fff; -webkit-appearance: none; appearance: none; color: #424242;}

#load{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}


/* #load img{
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


.sk-three-bounce {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
}

.sk-three-bounce .sk-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fa5858;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loadAni 1.4s ease-in-out 0s infinite both;
  animation: loadAni 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


@keyframes loadAni {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}