@import "./responsive.scss";
$cont_title: 48px;
$web_font_size: 18px;
$rajd_medium: "rajdhani-medium";
$rajd_regular: "rajdhani-regular";
$rajd_semibold: "rajdhani-semibold";
$rajd_bold: "rajdhani-bold";
$noto_medium: "NotoSansKR-Medium";
$noto_Regular: "NotoSansKR-Regular";
$noto_black: "NotoSansKR-Black";
$noto_Bold: "NotoSansKR-Bold";
$orbitron_bold: "orbitron-bold";