@charset "utf-8";
@import "./responsive.scss";
$cont_title: 48px;
$web_font_size: 18px;
$rajd_medium: "rajdhani-medium";
$rajd_semibold: "rajdhani-semibold";
$rajd_bold: "rajdhani-bold";
$noto_medium: "NotoSansKR-Medium";
$noto_Regular: "NotoSansKR-Regular";
$noto_black: "NotoSansKR-Black";
$noto_Bold: "NotoSansKR-Bold";
$orbitron_bold: "orbitron-bold";

#wrap{position: relative;}

/* display none 영역 */
#header{
  position: sticky;
  box-sizing: border-box;
  z-index: 300;
  
  .menu_btn{display: none;}
}
.pc_none, .tab_br{display: none;}
  /* display none 영역 끝 */

.web_sns{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;

  ul{
    display: flex;
    flex-direction: column;

    li{
      
      a{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;

        img{
          width: 58%;
        }
      }

      &:nth-of-type(even){
        background-color: #232734;
      }
      &:nth-of-type(odd){
        background-color: #313648;
      }
    }
  }
}

#header{
  width: 100%;
  max-width: 1920px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // border-bottom: 1px solid #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  position: sticky;
  top: 0;
  left: 0;
}

.logo{
  padding-left: 25px;
  a{
    display: block;
    width: 158px;
    height: auto;
  }
}

.headerIn{
  width: 62.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb{
  width: 920px;
  padding: 0 20px;
  ul{
    display: flex;
    justify-content: space-between;
    
    li{
      
      a{
        font-size: 21px;
        font-family: $rajd_semibold;
      }
    }
  }
}

.whitepaper{
  width: 158px;
  min-width: 158px;
  height: 38px;
  border-radius: 18px;
  border: 1px solid #bfbfbf;
  text-align: center;
  background-color: #fff;
  line-height: 36px;

  span{
    font-size: 14px;
    padding-left: 20px;
    background-image: url(../images/main/icon/document_icon_mobile.svg);
    background-repeat: no-repeat;
    background-size: 13px auto;
    background-position: 0 center;
  }
}

.lang{

  ul{
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding-right: 25px;

    li{
      
      a{
        width: 35px;
        height: 35px;
        line-height: 33px;
        border: 1px solid #b5b5b5;
        color: #b5b5b5;
        display: block;
        text-align: center;
        border-radius: 50%;
        font-family: $rajd_bold;
        font-size: 16px;
      }
    }

    li.on a{
      color: #7c40e7;
    }
  }
}

/* === web 컨테이너 시작 === */
#container{}
.top_point{
  display: block;
  width: 9px;
  height: 130px;
  background: linear-gradient(to bottom, #7c40e7, #729fff);
  position: absolute;
  top: 0;
  left: 20px;
}

/* web cont1 */
.cont1{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: url(../images/main/web/cont_blur.png) no-repeat center bottom / 1920px auto, url(../images/main/web/back1.jpg) no-repeat center 0 / 1920px auto;
  


  .inner{
    width: 1200px;
    padding: 143px 20px 90px;
    margin: 0 auto;
  }

  .sub_title{
    color: #fff;
    font-size: 26px;
    margin-bottom: 28px;
    text-align: center;
    font-family: $rajd_medium;
  }

  h2{
    color: #fff;
    font-size: 76px;
    text-align: center;
    font-family: $orbitron_bold;
    margin-bottom: 520px;
  }

  .text{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: $noto_Regular;
    line-height: 1.4;
  }
}

/* web cont2 */
.cont2{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: url(../images/main/web/back2.jpg) no-repeat center 0 / 1920px auto;

  .inner{
    width: 1200px;
    margin: 0 auto;
    padding: 158px 20px 246px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  h2{
    width: 280px;
    font-size: 48px;
    font-family: $rajd_medium;
    line-height: 1.1;
    margin-bottom: 27px;

    strong{
      font-family: $rajd_bold;
      display: block;
    }
  }

  .title_wrap{
    
  }
  .context{
    width: 270px;
    font-size: 18px;
    font-family: $noto_medium;
    line-height: 1.5;
  }
  
  .content_wrap{
    width: 768px;
    position: relative;


    .ele_img{
      width: 476px;
      height: auto;
      display: block;
      margin: 100px auto;
      position: relative;
      z-index: 5;
    }

    .ele_img.tablet{display: none;}
  }

  .content_list{

    li{
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;

      .icon_wrap{
        width: 139px;
        height: 139px;
        border: 1px solid #b5b5b5;
        border-radius: 50%;
        position: relative;
        z-index: 3;
        text-align: center;
        background-color: #fff;
        background-repeat: no-repeat;
        

        span{
          display: block;
          font-size: 19px;
          font-family: $rajd_bold;
          transform: translateY(86px);
        }
      }

      .text{
        width: 172px;
        min-height: 112px;
        border-radius: 13px;
        background: linear-gradient(-45deg, #7c40e7, #729fff);;
        text-align: center;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          font-size: 16px;
          color: #fff;
          line-height: 1.4;
        }
      }


      &:nth-of-type(1){
        top: 46px;
        left: 20px;

        .icon_wrap{
          background-image: url(../images/main/icon/session_icon1.svg);
          background-size: 86px auto;
          background-position: center 40px;
        }
      }
      &:nth-of-type(2){
        top: 46px;
        right: 20px;

        .icon_wrap{
          background-image: url(../images/main/icon/session1_icon2.svg);
          background-size: 63px auto;
          background-position: center 24px;

          span{
            transform: translateY(96px);
          }
        }
      }
      &:nth-of-type(3){
        top: 332px;
        left: 20px;
        
        .icon_wrap{
          background-image: url(../images/main/icon/session1_icon3.svg);
          background-size: 47px auto;
          background-position: center 30px;

          span{
            transform: translateY(92px);
          }
        }

      }
      &:nth-of-type(4){
        top: 332px;
        right: 20px;

        .icon_wrap{
          background-image: url(../images/main/icon/session1_icon4.svg);
          background-size: 59px auto;
          background-position: center 28px;

          span{
            transform: translateY(98px);
          }
        }
      }
    }
  }

  .arrow_list{
    width: 258px;
    border: 3px solid #8643ff;
    border-radius: 17px;
    position: absolute;
    top: 454px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    background: #fff;
    

    .arrow_icon{
      width: 88px;
      height: 96px;
      position: absolute;
      top: -99px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../images/main/web/session1_arrow.png) no-repeat center 0 / contain;
    }

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }

    li{
      width: 50px;
      text-align: center;

      .back_icon{
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: auto 40px;
      }

      span{
        color: #8643ff;
        font-size: 16px;
        font-family: $noto_Bold;
        padding-top: 50px;
        display: block;
        overflow-wrap: break-word;
        hyphens: auto;
      }

      &:nth-of-type(1){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon5.png); 
        }
      }
      &:nth-of-type(2){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon6.png); 
        }
      }
      &:nth-of-type(3){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon7.png); 
        }
      }
      &:nth-of-type(4){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon8.png); 
        }
      }
      &:nth-of-type(5){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon9.png); 
        }
      }
      &:nth-of-type(6){
        
        .back_icon{
         background-image: url(../images/main/icon/session1_icon10.png); 
        }
      }
    }
  }

}

.cont3{
  width: 100%;
  max-width: 1920px;
  background: url(../images/main/web/back3.jpg) center 0 / 1920px auto;
  margin: 0 auto;

  .inner{
    width: 1200px;
    padding: 157px 20px 150px;
    margin: 0 auto;
    position: relative;
  }

  h2{
    font-size: 48px;
    font-family: $rajd_medium;
    color: #fff;
    font-weight: normal;
    margin-bottom: 79px;
  }

  .content_wrap{
    
    > ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;

      > li{
        width: 376px;
        min-height: 240px;
        background-color: #232538;
        border-radius: 20px;
        box-shadow: 14px 14px 38px 1.6px rgba(0, 0, 0, .6);

        .title{
          font-size: 34px;
          color: #00fffc;
          font-family: $rajd_bold;
          margin-bottom: 24px;
          padding: 37px 0 0 100px;

          span{
            position: relative;

          }
        }

        .icon{
          display: block;
          width: 74px;
          height: 74px;
          background-color: #12131e;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -86px;

          background-repeat: no-repeat;
          background-size: auto 46px;
          background-position: center center;
        }

        &:nth-of-type(1) .icon{
          background-image: url(../images/main/icon/session2_icon1.png);
        }
        &:nth-of-type(2) .icon{
          background-image: url(../images/main/icon/session2_icon2.png);
        }
        &:nth-of-type(3) .icon{
          background-image: url(../images/main/icon/session2_icon3.png);
        }
        &:nth-of-type(4) .icon{
          background-image: url(../images/main/icon/session2_icon4.png);
        }
        &:nth-of-type(5) .icon{
          background-image: url(../images/main/icon/session2_icon5.png);
        }
        &:nth-of-type(6) .icon{
          background-image: url(../images/main/icon/session2_icon6.png);
        }
        
      }
    }

    .in_ul{
      padding-left: 100px;
      padding-right: 20px;

      li{
        color: #fff;
        margin-bottom: 10px;

        span{
          font-size: 18px;
          line-height: 1.4;
          position: relative;
          font-family: $noto_Regular;

        }

        i{
          background-color: #965bff;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          position: absolute;
          top: 13px;
          
          left: -14px;
        }
      }
    }
  }
}






/* =============== 태블릿 시작 =============== */
@include tablet{
  /* 768 계산 */
  /* display none 영역 */
  .web_sns{
    display: none;
  }
  .gnb{
    display: none;
  }
  .whitepaper{
    display: none;
  }
  .tab_none{display: none;}
  .pc_none, .tab_br{display: block;}
  .tab_br_none{display: none;}
  /* display none 영역 끝 */

  #header{
    padding: 0 14px;
    max-width: none;

    .headerIn{
      display: none;
      width: auto;
    }

    .menu_btn{
      display: block;
      text-indent: -9999px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #aaa;
      position: relative;

      .line{
        width: 28px;
        height: 3px;
        background-color: #8643ff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::after,
        &::before{
          content: "";
          display: block;
          width: 28px;
          height: 3px;
          background-color: #8643ff;
          position: absolute;
          left: 0;
        }

        &::after{
          top: 10px;
        }
        &::before{
          top: -10px;
        }
      }
    }
  }

  .logo{
    padding-left: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a{
      width: 208px;
    }
  }

  .lang{
    
    ul{
      padding-right: 0;
      li{
        a{
          width: 60px;
          height: 60px;
          font-size: 27px;
          line-height: 58px;
        }
      }
    }
  }

  /* === tablet 컨테이너 시작 === */
  .cont1{
    width: 100%;
    max-width: none;
    background: url(../images/main/tablet/back1.jpg) no-repeat 0 0 / cover;
    
    .inner{
      width: 100%;
      padding: 11.328125vw 3.645833333vw 83.854166vw;
    }

    .sub_title{
      font-size: 3.64583vw;
      margin-bottom: 2.994791vw;
      text-align: left;
    }

    h2{
      color: #fff;
      font-size: 10.546875vw;
      text-align: left;
      margin-bottom: 3.255208vw;
    }

    .text{
      text-align: left;
      font-size: 2.60416vw;
      line-height: 1.4;
    }
  }

  .top_point{
    width: 1.171875vw;
    height: 16.927083vw;
    top: 0;
    left: 3.645833333vw;
  }

  /* === 테블릿 cont2 === */
  .cont2{
    max-width: none;
    background: url(../images/main/tablet/back2.jpg) no-repeat center 0 / cover;
  
    .inner{
      width: 100%;
      padding: 19.27083vw 3.645833333vw 10.4166vw;
      justify-content: space-between;
      flex-direction: column;
      gap: 3.90625vw;
    }
    
    h2{
      width: auto;
      font-size: 8.07291vw;
      line-height: 1;
      margin-bottom: 3.515625vw;
  
    }
  
    .context{
      width: auto;
      font-size: 2.864583vw;
      line-height: 1.4;
    }
    
    .content_wrap{
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;
  
  
      .ele_img{
        width: 35.546875vw;
        height: auto;
        display: block;
        margin: 0;
        padding-left: 11.197916vw;
      }

      .ele_img.pc{display: none;}
      .ele_img.tablet{display: block;}
    }
  
    .content_list{
      // width: 0;

      ul{
        display: flex;
        flex-direction: column;
        gap: 1.5625vw;
        align-items: center;
      }

      li{
        width: 45.57291vw;
        position: static;
        display: flex;
        align-items: inherit;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
  
        .icon_wrap{
          width: 14.973958vw;
          height: 14.973958vw;
          border: 1px solid #b5b5b5;
          border-radius: 50%;
          position: absolute;
          z-index: 3;
          text-align: center;
          background-color: #fff;
          background-repeat: no-repeat;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          
  
          span{
            display: block;
            font-size: 18px;
            font-family: $rajd_bold;
          }
        }
  
        .text{
          width: 39.0625vw;
          min-height: 14.58333vw;
          border-radius: 13px;
          background: linear-gradient(-45deg, #7c40e7, #729fff);;
          text-align: center;
          position: static;
          bottom: auto;
          left: auto;
          transform: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 3.90625vw;
  
          span{
            font-size: 2.08333vw;
            color: #fff;
            line-height: 1.4;
            padding-left: 6.77083vw;
          }
        }
  
  
        &:nth-of-type(1){
          top: auto;
          left: auto;
  
          .icon_wrap{
            background-size: 8.854166vw auto;
            background-position: center 4.16666vw;

            span{
              transform: translateY(9.114583vw);
            }
          }
        }
        &:nth-of-type(2){
          top: auto;
          right: auto;
  
          .icon_wrap{
            background-size: 6.1197916vw auto;
            background-position: center 2.8645833vw;
  
            span{
              transform: translateY(10.15625vw);
            }
          }
        }
        &:nth-of-type(3){
          top: auto;
          left: auto;
          
          .icon_wrap{
            background-size: 5.3385416vw auto;
            background-position: center 2.8645833vw;
  
            span{
              transform: translateY(10.15625vw);
            }
          }
  
        }
        &:nth-of-type(4){
          top: auto;
          right: auto;
  
          .icon_wrap{
            background-size: 6.640625vw auto;
            background-position: center 2.8645833vw;
  
            span{
              transform: translateY(10.41666vw);
            }
          }
        }
      }
    }
  
    .arrow_list{
      width: 61.979166vw;
      border: 2px solid #8643ff;
      border-radius: 25px;/* vw no */
      top: auto;
      left: auto;
      transform: none;
      right: auto;
      padding: 3.385416vw;
      position: relative;
      margin-top: 3.90625vw;
      
  
      .arrow_icon{
        width: 14.322916vw;
        height: 34.89583vw;
        position: absolute;
        top: -16.40625vw;
        left: -14.5833vw;
        transform: none;
        background: url(../images/main/common/session1_arrow_mobile.png) no-repeat center 0 / contain;
      }
  
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.302083vw;
      }
  
      li{
        width: 7.8125vw;
        text-align: center;
  
        .back_icon{
          background-repeat: no-repeat;
          background-position: center 0;
          background-size: auto 5.20833vw;
        }
  
        span{
          color: #8643ff;
          font-size: 2.08333vw;
          font-family: $noto_Bold;
          padding-top: 6.5104166vw;
          display: block;
        }
  
        &:nth-of-type(1){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon5.png); 
          }
        }
        &:nth-of-type(2){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon6.png); 
          }
        }
        &:nth-of-type(3){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon7.png); 
          }
        }
        &:nth-of-type(4){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon8.png); 
          }
        }
        &:nth-of-type(5){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon9.png); 
          }
        }
        &:nth-of-type(6){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon10.png); 
          }
        }
      }
    }
  
  }


  /* 태블릿 cont3 시작 */
  .cont3{
    width: 100%;
    max-width: none;
    background: url(../images/main/tablet/back3.jpg) center 0 / cover;
  
    .inner{
      width: 100%;
      padding: 19.27083vw 3.64583vw 8.333333vw;
    }
  
    h2{
      font-size: 6.25vw;
      margin-bottom: 10.286458vw;
    }
  
    .content_wrap{
      
      > ul{
        gap: 2.864583vw;
  
        > li{
          width: 44.79166vw;
          min-height: 28.64583vw;
          border-radius: 20px;/* vw no */
          box-shadow: 1.822916vw 1.822916vw 4.947916vw 1.6px rgba(0, 0, 0, .6);
  
          .title{
            font-size: 4.16666vw;
            margin-bottom: 1.822916vw;
            padding: 4.55729vw 0 0 12.5vw;
  
            
          }
  
          .icon{
            width: 8.85416vw;
            height: 8.85416vw;
            top: 50%;
            left: -11.19791vw;
  
            background-size: auto 4.947916vw;
          }
          
        }
      }
  
      .in_ul{
        padding-left: 12.5vw;
        padding-right: 2.604166vw;
  
        li{
          margin-bottom: 1.302083vw;
  
          span{
            font-size: 2.08333vw;
  
          }
  
          i{
            top: 1.69270vw;
            left: -1.822916vw;
          }
        }
      }
    }
  }





}


@include mobile{
  /* 640 계산 */
  /* display none 영역 */
  .mobi_none, .tab_br{display: none;}

  /* display none 끝 */
  
  #header{
    height: 60px;

    .menu_btn{
      width: 40px;
      height: 40px;

      .line{
        width: 20px;
        height: 3px;

        &::after,
        &::before{
          width: 20px;
          height: 3px;
        }

        &::after{
          top: 8px;
        }
        &::before{
          top: -8px;
        }
      }
    }
  }

  .logo{

    a{
      width: 140px;
    }
  }

  .lang{
    
    ul{
      li{
        a{
          width: 40px;
          height: 40px;
          font-size: 16px;
          line-height: 38px;
        }
      }
    }
  }
  
  /* === mobile 컨테이너 시작 === */
  /* 모바일 cont1 */
  .cont1{
    width: 100%;
    max-width: none;
    background: url(../images/main/mobile/back1.jpg) no-repeat 0 0 / cover;
    
    .inner{
      width: 100%;
      padding: 22.1875vw 3.90625vw 100vw;
    }

    .sub_title{
      font-size: 4.375vw;
      margin-bottom: 3.4375vw;
      text-align: center;
    }

    h2{
      color: #fff;
      font-size: 12.34375vw;
      text-align: center;
      margin-bottom: 7.03125vw;
    }

    .text{
      text-align: center;
      font-size: 3.4375vw;
      line-height: 1.4;
    }
  }

  .top_point{
    width: 1.40625vw;
    height: 20.3125vw;
    top: 0;
    left: 3.90625vw;
  }

   /* === 모바일 cont2 === */
   .cont2{
    background: url(../images/main/mobile/back2.jpg) no-repeat center 0 / cover;
  
    .inner{
      padding: 23.4375vw 3.90625vw 15vw;
      gap: 4.6875vw;
    }
    
    h2{
      font-size: 8.75vw;
      margin-bottom: 4.21875vw;
  
    }
  
    .context{
      font-size: 3.59375vw;
      line-height: 1.4;
    }
    
    .content_wrap{
  
      .ele_img{
        width: 39.84375vw;
        padding-left: 0;
      }

    }
  
    .content_list{

      ul{
        gap: 1.875vw;
      }

      li{
        width: 52.1875vw;
  
        .icon_wrap{
          width: 17.96875vw;
          height: 17.96875vw;
          border-radius: 50%;
          z-index: 3;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          
  
          span{
            font-size: 2.8125vw;
          }
        }
  
        .text{
          width: 46.875vw;
          min-height: 17.5vw;
          border-radius: 2.03125vw;
          padding: 0 3.125vw;
  
          span{
            font-size: 2.5vw;
            line-height: 1.4;
            padding-left: 11.875vw;
          }
        }
  
  
        &:nth-of-type(1){
  
          .icon_wrap{
            background-size: 10.625vw auto;
            background-position: center 5vw;

            span{
              transform: translateY(10.9375vw);
            }
          }
        }
        &:nth-of-type(2){
  
          .icon_wrap{
            background-size: 7.34375vw auto;
            background-position: center 3.4375vw;
  
            span{
              transform: translateY(12.1875vw);
            }
          }
        }
        &:nth-of-type(3){
          
          .icon_wrap{
            background-size: 6.40625vw auto;
            background-position: center 3.4375vw;
  
            span{
              transform: translateY(12.1875vw);
            }
          }
  
        }
        &:nth-of-type(4){
  
          .icon_wrap{
            background-size: 7.96875vw auto;
            background-position: center 3.4375vw;
  
            span{
              transform: translateY(12.5vw);
            }
          }
        }
      }
    }
  
    .arrow_list{
      width: 69.6875vw;
      padding: 3.28125vw 2.1875vw;
      margin-top: 4.6875vw;
      
  
      .arrow_icon{
        width: 17.1875vw;
        height: 41.875vw;
        top: -20.3125vw;
        left: -17.5vw;
        background: url(../images/main/common/session1_arrow_mobile.png) no-repeat center 0 / contain;
      }
  
      ul{
        gap: 0;
      }
  
      li{
        width: 9.375vw;
  
        .back_icon{
          background-size: auto 6.25vw;
        }
  
        span{
          font-size: 2.5vw;
          padding-top: 7.8125vw;
        }
  
        &:nth-of-type(1){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon5.png); 
          }
        }
        &:nth-of-type(2){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon6.png); 
          }
        }
        &:nth-of-type(3){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon7.png); 
          }
        }
        &:nth-of-type(4){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon8.png); 
          }
        }
        &:nth-of-type(5){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon9.png); 
          }
        }
        &:nth-of-type(6){
          
          .back_icon{
           background-image: url(../images/main/icon/session1_icon10.png); 
          }
        }
      }
    }
  
  }

  /* 모바일 cont3 시작 */
  .cont3{
    background: url(../images/main/mobile/back3.jpg ) center 0 / cover;

    .inner{
      width: 100%;
      padding: 23.75vw 4.6875vw 10.46875vw;
    }

    h2{
      font-size: 8.75vw;
      margin-bottom: 8.125vw;
    }

    .content_wrap{
      
      > ul{
        gap: 3.4375vw;

        > li{
          width: 100%;
          min-height: 46.875vw;
          border-radius: 20px;/* vw no */
          box-shadow: 2.1875vw 2.1875vw 5.9375vw 1.6px rgba(0, 0, 0, .6);

          .title{
            font-size: 7.5vw;
            margin-bottom: 4.6875vw;
            padding: 9.375vw 0 0 25vw;

            
          }

          .icon{
            width: 17.5vw;
            height: 17.5vw;
            left: -20.9375vw;

            background-size: auto 10vw;
          }
          
        }
      }

      .in_ul{
        padding-left: 25vw;
        padding-right: 3.125vw;

        li{
          margin-bottom: 1.5625vw;

          span{
            font-size: 3.59375vw;

          }

          i{
            width: 5px;
            height: 5px;
            top: 2.03125vw;
            left: -2.64375vw;
          }
        }
      }
    }
  }








}