@charset "utf-8";
@import "./settingScss.scss";

/* ================== 공통 값 ================= */
.title_wrap{
  width: 278px;
  
  h2{
    width: 278px;
    font-size: 38px;
    font-family: $noto_Bold;
    line-height: 1.2;
    margin-bottom: 40px;

    strong{
      color: #7c40e7;
    }
  }
}

.content_wrap{
  width: 768px;

  .text{
    font-size: 15px;
    color: #595959;
    line-height: 1.5;
  }
}


/* web cont 1 */
.cont1{

  .inner{
    display: flex;
    justify-content: space-between;
    padding: 84px 20px 0;
  }

  .context{
    
    .symbol{
      width: 100px;
      margin-bottom: 34px;

    }

    .info{
      
      p{
        font-size: 18px;
        font-family: $noto_Bold;
        line-height: 1.5;
      }
    }
  }

  .content_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    img{
      width: 374px;
      display: block;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 24px;

      li{
        font-size: 20px;
        font-family: $rajd_semibold;
        position: relative;

        .color{
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: -26px;
          transform: translateY(-50%);
        }

        &:nth-of-type(1) span{
          background-color: #7900ff;
        }
        &:nth-of-type(2) span{
          background-color: #7981ff;
        }
        &:nth-of-type(3) span{
          background-color: #aed1ff;
        }
        &:nth-of-type(4) span{
          background-color: #9d83ff;
        }
        &:nth-of-type(5) span{
          background-color: #79b3ff;
        }
      }
    }
  }

  .text_wrap{

    ul{
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    li{
      
      .list_title{

        font-size: 28px;
        font-family: $rajd_semibold;
        margin-bottom: 12px;
      }

      &:nth-of-type(1) .percent{color: #7900ff;}
      &:nth-of-type(2) .percent{color: #7981ff;}
      &:nth-of-type(3) .percent{color: #73a2e1;}
      &:nth-of-type(4) .percent{color: #9d83ff;}
      &:nth-of-type(5) .percent{color: #5da3ff;}
    }
  }



}

/* web cont 2 */
.cont2{

  .inner{
    display: flex;
    justify-content: space-between;
    padding: 130px 20px 0;
  }

  .content_list{
    min-height: 600px;
    margin-bottom: 58px;

    > ul{
      position: relative;
      
      > li{
        width: 256px;
        border-radius: 16px;/* no */
        overflow: hidden;
        position: absolute;
        top: 0;
        box-shadow: 9px 9px 28px rgba(0, 0, 0, 0.2);
  
        .list_title{
          font-size: 18px;
          font-family: $noto_Bold;
          text-align: center;
          color: #fff;
          line-height: 62px;
        }
  
        &:nth-of-type(1){
          left: 0;
          z-index: 3;}

        &:nth-of-type(2){
          left: 180px;
          z-index: 2;
          width: 322px;
        }
        &:nth-of-type(3){
          left: 436px;
          z-index: 1;
          width: 322px;
        }

        &:nth-of-type(1) .list_title{
          background: #999;
        }
        &:nth-of-type(2) .list_title{
          background: #7c40e7;
          padding-left: 76px;
        }
        &:nth-of-type(3) .list_title{
          background: #9195d3;
          padding-left: 66px;
        }

        
        &:nth-of-type(2) .sub_list{
          padding-left: 96px;
        }
        &:nth-of-type(3) .sub_list{
          padding-left: 86px;
        }

        .gray{
          color: #4d4d4d;
        }

      }

    }

    .sub_list{
      width: 100%;
      padding: 0 20px;
      background: #fff;

      li{
        text-align: center;
        font-size: 18px;
        font-family: $noto_Bold;
        height: 66px;
        line-height: 66px;
        color: #7c40e7;
        border-bottom: 1px solid #d9d9d9;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

        

        &:last-child{
          border-bottom: none;
        }

        .check{
          display: block;
          width: 34px;
          height: 34px;
          background: url(../tokenomics_img/common/session2_check_box.png) no-repeat 0 0 / contain; 
        }
        .check-x{
          display: block;
          width: 34px;
          height: 34px;
          background: url(../tokenomics_img/common/session2_check_box2.png) no-repeat 0 0 / contain; 
        }
      }

      li.gray .check-x{
        background-image: url(../tokenomics_img/common/session2_check_box.png);
      }

    }
  }


}

/* web cont 3 */
.cont3{

  .inner{
    display: flex;
    justify-content: space-between;
    padding: 126px 20px 0;
  }

  .content_list{
    margin-bottom: 47px;

    .tab_img{display: none;}
  }
}

/* web cont 4 */
.cont4{
  
  .inner{
    display: flex;
    justify-content: space-between;
    padding: 170px 20px 230px;
  }

  .content_list{

    > ul{
      display: flex;
      flex-direction: column;
      gap: 50px;
      position: relative;

      > li{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
        position: relative;
        z-index: 3;

        .date_wrap{
          width: 260px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .point{
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #6b2dda;
          position: relative;

          &::after{
            content: "";
            display: block;
            width: 130px;
            height: 2px;
            background: #a6a6a6;
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
          }

          &::before{
            content: "";
            display: block;
            width: 2px;
            height: 200px;
            background-color: #111;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }
        }

        .date{
          font-size: 22px;
          font-family: $noto_Bold;
          color: #7c40e7;
          width: 100px;
        }

        .info{
          width: 360px;

          li{
            font-size: 15px;
            margin-bottom: 10px;
            line-height: 1.4;
            position: relative;
            font-family: $noto_medium;

            .dot{
              color: #6b2dda;
              position: absolute;
              top: 0;
              left: -10px;
            }
            strong{
              font-family: $noto_black;
            }
          }
        }
      }

      
    }
  }

}








/* ============== 태블릿 =============== */
@include tablet{
/* ================== 태블릿 공통 값 ================= */
  .title_wrap{
    width: 100%;
    
    h2{
      width: 100%;
      font-size: 5.208333vw;
      margin-bottom: 6.51041vw;
    }
  }

  .content_wrap{
    width: 100%;

    .text{
      font-size: 2.60416vw;
    }
  }

  /* 태블릿 cont 1 */
  .cont1{

    .inner{
      width: 100%;
      flex-direction: column;
      padding: 9.63541vw 3.64583vw 0;
      gap: 2.60416vw;
    }

    .context{
      width: 100%;
      border-radius: 17px; /* no */
      box-shadow: 1.69270vw 0 3.77604vw rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      gap: 4.6875vw;
      align-items: center;
      padding: 3.125vw 0;

      .symbol{
        width: 16.92708vw;
        margin-bottom: 0;

      }

      .info{
        
        p{
          font-size: 2.86458vw;
          line-height: 1.6;
        }
      }
    }

    .content_list{
      margin-bottom: 9.11458vw;
      border-radius: 17px; /* no */
      box-shadow: 1.69270vw 0 3.77604vw rgba(0, 0, 0, 0.2);
      padding: 7.29166vw 0;
      justify-content: center;
      gap: 9.89583vw;

      img{
        width: 42.70833vw;
      }

      ul{
        gap: 3.125vw;

        li{
          font-size: 2.60416vw;

          .color{
            width: 2.08333vw;
            height: 2.08333vw;
            left: -3.38541vw;
          }

        }
      }
    }

    .text_wrap{

      ul{
        gap: 5.46875vw;
      }

      li{
        
        .list_title{

          font-size: 4.6875vw;
          margin-bottom: 1.30208vw;
        }
      }
    }



  }

  /* 태블릿 cont 2 */
  .cont2{

    .inner{
      width: 100%;
      flex-direction: column;
      padding: 16.14583vw 3.64583vw 0;
    }

    .content_list{
      min-height: 77.08333vw;
      margin-bottom: 7.55208vw;

      > ul{
        
        > li{
          width: 30.98958vw;
          box-shadow: 1.171875vw 1.171875vw 3.64583vw rgba(0, 0, 0, 0.2);
    
          .list_title{
            font-size: 2.34375vw;
            line-height: 7.55208vw;
          }
    
          &:nth-of-type(2){
            left: 21.61458vw;
            width: 40.10416vw;
          }
          &:nth-of-type(3){
            left: 52.60416vw;
            width: 40.10416vw;
          }


          &:nth-of-type(2) .list_title{
            padding-left: 9.375vw;
          }
          &:nth-of-type(3) .list_title{
            padding-left: 9.11458vw;
          }

          
          &:nth-of-type(2) .sub_list{
            padding-left: 11.97916vw;
          }
          &:nth-of-type(3) .sub_list{
            padding-left: 11.71875vw;
          }

        }

      }

      .sub_list{
        width: 100%;
        padding: 0 2.60416vw;

        li{
          font-size: 2.34375vw;
          height: 8.59375vw;
          line-height: 7.8125vw;
          gap: 1.30208vw;

          .check{
            width: 4.16666vw;
            height: 4.16666vw;
          }
          .check-x{
            width: 4.16666vw;
            height: 4.16666vw;
          }
        }

      }
    }


  }

  /* 태블릿 cont 3 */
  .cont3{

    .inner{
      width: 100%;
      flex-direction: column;
      padding: 15.625vw 3.64583vw 0;
    }

    .content_list{
      margin-bottom: 7.29166vw;

      .pc_img{display: none;}
      .tab_img{display: block;}
    }
  }


  /* 태블릿 cont 4 */
  .cont4{
    
    .inner{
      width: 100%;
      flex-direction: column;
      padding: 14.32291vw 3.64583vw 22.13541vw;
    }

    .content_list{
      margin-top: 2.60416vw;
      
      > ul{
        gap: 4.42708vw;

        > li{
          gap: 11.97916vw;

          .date_wrap{
            width: 30.46875vw;
          }

          .point{
            width: 12px;/* no */
            height: 12px;/* no */

            &::after{
              width: 13.02083vw;
              left: 12px;/* no */
            }

            &::before{
              height: 31.25vw;
            }

          }
          &:last-child .point::before{
            height: 20.83333vw;
          }

          .date{
            font-size: 3.125vw;
            width: 14.32291vw;
          }

          .info{
            width: 44.01041vw;

            li{
              font-size: 2.34375vw;
              margin-bottom: 1.30208vw;
              line-height: 1.4;

              .dot{
                left: -1.30208vw;
              }
            }
          }
        }

 
      }
    }

  }


}















/* ============== 모바일 =============== */
@include mobile{
/* ================== 모바일 공통 값 ================= */
  .title_wrap{
    
    h2{
      font-size: 5.9375vw;
      margin-bottom: 7.1875vw;
    }
  }
  .content_wrap{

    .text{
      font-size: 2.8125vw;
    }
  }


  /* 모바일 cont 1 */
  .cont1{

    .inner{
      width: 100%;
      padding: 13.4375vw 4.6875vw 0;
      gap: 3.125vw;
    }

    .context{
      box-shadow: 2.03125vw 0 3.125vw rgba(0, 0, 0, 0.2);
      gap: 4.6875vw;
      padding: 3.75vw 0;

      .symbol{
        width: 20.3125vw;
      }

      .info{
        
        p{
          font-size: 3.28125vw;
          line-height: 1.6;
        }
      }
    }

    .content_list{
      margin-bottom: 10vw;
      border-radius: 17px; /* no */
      box-shadow: 2.03125vw 0 3.125vw rgba(0, 0, 0, 0.2);
      padding: 8.75vw 0;
      flex-direction: column;
      gap: 11.875vw;

      img{
        width: 51.25vw;
      }

      ul{
        gap: 3.75vw;
        flex-direction: row;
        padding: 0 6.25vw 0 9.375vw;
        flex-wrap: wrap;
        gap: 3.75vw 10.9375vw;
        justify-content: center;
        

        li{
          font-size: 3.59375vw;

          .color{
            width: 3.125vw;
            height: 3.125vw;
            left: -4.0625vw;
          }

        }
      }
    }

    .text_wrap{

      ul{
        gap: 5.9375vw;
      }

      li{
        
        .list_title{

          font-size: 5vw;
          margin-bottom: 1.25vw;
        }
      }
    }



  }

  /* 모바일 cont 2 */
  .cont2{

    .inner{
      padding: 19.375vw 4.375vw 0;
    }

    .content_list{
      min-height: 92.5vw;
      margin-bottom: 7.8125vw;

      > ul{
        
        > li{
          width: 30.3125vw;
          box-shadow: 1.40625vw 1.40625vw 4.375vw rgba(0, 0, 0, 0.2);
    
          .list_title{
            font-size: 2.5vw;
            line-height: 7.34375vw;
          }
    
          &:nth-of-type(2){
            left: 21.25vw;
            width: 39.375vw;
          }
          &:nth-of-type(3){
            left: 51.5625vw;
            width: 39.375vw;
          }


          &:nth-of-type(2) .list_title{
            padding-left: 9.0625vw;
          }
          &:nth-of-type(3) .list_title{
            padding-left: 9.0625vw;
          }

          
          &:nth-of-type(2) .sub_list{
            padding-left: 12.1875vw;
          }
          &:nth-of-type(3) .sub_list{
            padding-left: 12.1875vw;
          }

        }

      }

      .sub_list{
        width: 100%;
        padding: 0 3.125vw;

        li{
          font-size: 2.34375vw;
          height: 10.3125vw;
          line-height: 9.375vw;
          gap: 1.25vw;

          .check{
            width: 3.75vw;
            height: 3.75vw;
          }
          .check-x{
            width: 3.75vw;
            height: 3.75vw;
          }
        }

      }
    }


  }

  /* 모바일 cont 3 */
  .cont3{

    .inner{
      padding: 17.1875vw 4.6875vw 0;
    }

    .content_list{
      margin-bottom: 9.375vw;
    }
  }

  /* 모바일 cont 4 */
  .cont4{
    
    .inner{
      padding: 18.75vw 4.6875vw 23.4375vw;
    }

    .content_list{
      margin-top: 3.125vw;
      padding-left: 6.25vw;
      
      > ul{
        gap: 5.3125vw;

        > li{
          gap: 8.4375vw;

          .date_wrap{
            width: auto;
            gap: 2.1875vw;
          }

          .point{
            width: 12px;/* no */
            height: 12px;/* no */

            &::after{
              display: none;
            }
            
            &::before{
              height: 37.5vw;
            }
          }

          &:last-child .point::before{
            height: 25vw;
          }

          .date{
            font-size: 3.4375vw;
            width: 17.1875vw;
          }

          .info{
            width: 51.4375vw;

            li{
              font-size: 2.8125vw;
              margin-bottom: 1.5625vw;
              line-height: 1.4;

              .dot{
                left: -1.5625vw;
              }
            }
          }
        }

      }
    }

  }




}








