@charset "UTF-8";
/* 폰트 패밀리 */
/* 컬러 */
.cont1 {
  background: url(../images/360_trip/trip_main_back.jpg) no-repeat center 0/1920px auto;
}
.cont1 .inner {
  padding: 300px 22px 260px;
}
.cont1 h2 {
  width: 388px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  position: relative;
  margin-bottom: 25px;
}
.cont1 h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: -30px;
  left: 0;
}
.cont1 .sub_text {
  width: 372px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.cont1 .img_wrap {
  width: 666px;
  display: flex;
  gap: 18px;
}
.cont1 .img_wrap img {
  display: block;
  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.4));
  image-rendering: -webkit-optimize-contrast;
}

.cont2 .inner {
  padding: 60px 22px;
}
.cont2 .more_btn {
  color: #a6b5be;
  padding-right: 15px;
  background: url(../images/common/more_btn_icon.svg) no-repeat right center/7px auto;
  position: absolute;
  top: 29px;
  right: 34px;
  line-height: 18px;
}
.cont2 .content1 {
  border: 1px solid #c5d4dd;
  border-radius: 20px;
  padding: 26px 34px;
  position: relative;
  margin-bottom: 24px;
}
.cont2 .content1 ul {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.cont2 .content1 li {
  text-align: center;
}
.cont2 .content1 li img {
  margin-bottom: 24px;
}
.cont2 h2 {
  margin-bottom: 20px;
}
.cont2 .content2 {
  border: 1px solid #c5d4dd;
  border-radius: 20px;
  padding: 26px 34px;
}
.cont2 .content2 .more_btn {
  top: 3px;
  right: 0;
}
.cont2 .content2 .list1 {
  position: relative;
  margin-bottom: 40px;
}
.cont2 .content2 .list2 {
  position: relative;
}
.cont2 .content2 ul {
  display: flex;
  gap: 27px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cont1 {
    background: url(../images/360_trip/trip_main_back.jpg) no-repeat center 0/1920px auto;
  }
  .cont1 .inner {
    padding: 29.3255vw 2.1505vw 25.4154vw;
  }
  .cont1 h2 {
    width: 37.9276vw;
    margin-bottom: 2.4437vw;
  }
  .cont1 h2::after {
    width: 4.8875vw;
    height: 0.782vw;
    top: -2.9325vw;
  }
  .cont1 .sub_text {
    width: 36.3636vw;
  }
  .cont1 .img_wrap {
    width: 65.1026vw;
    gap: 1.7595vw;
  }
  .cont1 .img_wrap img {
    filter: drop-shadow(0.782vw 0.782vw 1.173vw rgba(0, 0, 0, 0.4));
  }

  .cont2 .inner {
    padding: 5.8651vw 2.1505vw;
  }
  .cont2 .more_btn {
    padding-right: 1.4662vw;
    background: url(../images/common/more_btn_icon.svg) no-repeat right center/0.6842vw auto;
    top: 2.8347vw;
    right: 3.3235vw;
    line-height: 1.7595vw;
  }
  .cont2 .content1 {
    border-radius: 1.955vw;
    padding: 2.5415vw 3.3235vw;
    margin-bottom: 2.346vw;
  }
  .cont2 .content1 ul {
    gap: 3.4213vw;
  }
  .cont2 .content1 li img {
    margin-bottom: 2.346vw;
  }
  .cont2 h2 {
    margin-bottom: 1.955vw;
  }
  .cont2 .content2 {
    border-radius: 1.955vw;
    padding: 2.5415vw 3.3235vw;
  }
  .cont2 .content2 .more_btn {
    top: 0.2932vw;
  }
  .cont2 .content2 .list1 {
    margin-bottom: 3.91vw;
  }
  .cont2 .content2 ul {
    gap: 2.6392vw;
  }
}

/*# sourceMappingURL=trip.css.map */
