@charset "UTF-8";
@import "./setting.scss";

html, body, #wrap{
  height: 100%;
}

#header{
  background: $secondary;
  height: 54px;
  
  .inner{
    padding: 0 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

#container{
  background: #fff;
  min-height: calc(100vh - 74px);
}

.content_inner{
  min-height: calc(100vh - 196px);
}

// .bottom_gnb{
//   position: fixed;
//   max-width: 428px;
//   left: 50%;
//   transform: translateX(-50%);
// }


.tab_box{
  display: flex;
  margin-bottom: 16px;
  padding: 16px 22px 0;

  p{
    width: 50%;
    border: 1px solid $secondary;
    text-align: center;
    line-height: 34px;
    cursor: pointer;

    &:nth-of-type(1){
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:nth-of-type(2){
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.on{
      background: $secondary;
      color: #fff;
    }
  }
}

.menu_list{
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;

  ul{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding-right: 22px;
    padding-left: 22px;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  li{
    width: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .img_wrap{
      height: 56px;
      width: 56px;
      border-radius: 50%;
      background-color: $gray3;
      background-repeat: no-repeat;
      background-size: auto 34px;
      background-position: center;
      color: $gray5;
      display: flex;
      align-items: center;
      justify-content: center;  
    }

    &.on .img_wrap{
      color: #fff;
    }

    &:nth-of-type(2) .img_wrap{
      background-image: url(../images/icon/korean_icon2.svg) ;
    }
    &:nth-of-type(3) .img_wrap{
      background-image: url(../images/icon/chicken_icon2.svg) ;
    }
    &:nth-of-type(4) .img_wrap{
      background-image: url(../images/icon/floor_based_icon2.svg) ;
    }
    &:nth-of-type(5) .img_wrap{
      background-image: url(../images/icon/pork_cutlet_icon2.svg) ;
    }
    &:nth-of-type(6) .img_wrap{
      background-image: url(../images/icon/bossam_icon2.svg) ;
    }
    &:nth-of-type(7) .img_wrap{
      background-image: url(../images/icon/soup_icon2.svg) ;
    }
    &:nth-of-type(8) .img_wrap{
      background-image: url(../images/icon/roast_icon2.svg) ;
    }
    &:nth-of-type(9) .img_wrap{
      background-image: url(../images/icon/pizza_icon2.svg) ;
    }
    &:nth-of-type(10) .img_wrap{
      background-image: url(../images/icon/chinese_icon2.svg) ;
    }
    &:nth-of-type(11) .img_wrap{
      background-image: url(../images/icon/japanese_icon2.svg) ;
    }
    &:nth-of-type(12) .img_wrap{
      background-image: url(../images/icon/seafood_icon2.svg) ;
    }
    &:nth-of-type(13) .img_wrap{
      background-image: url(../images/icon/western_icon2.svg) ;
    }
    &:nth-of-type(14) .img_wrap{
      background-image: url(../images/icon/beverage_icon2.svg) ;
    }
    &:nth-of-type(15) .img_wrap{
      background-image: url(../images/icon/dessert_icon2.svg) ;
    }
    &:nth-of-type(16) .img_wrap{
      background-image: url(../images/icon/snack_icon2.svg) ;
    }
    &:nth-of-type(17) .img_wrap{
      background-image: url(../images/icon/asian_icon2.svg) ;
    }
    &:nth-of-type(18) .img_wrap{
      background-image: url(../images/icon/sandwich_icon2.svg) ;
    }
    &:nth-of-type(19) .img_wrap{
      background-image: url(../images/icon/salad_icon2.svg) ;
    }
    &:nth-of-type(20) .img_wrap{
      background-image: url(../images/icon/hamburger_icon2.svg) ;
    }
    &:nth-of-type(21) .img_wrap{
      background-image: url(../images/icon/mexican_icon2.svg) ;
    }
    &:nth-of-type(22) .img_wrap{
      background-image: url(../images/icon/lunch_box_icon2.svg) ;
    }
    &:nth-of-type(23) .img_wrap{
      background-image: url(../images/icon/porridge_icon2.svg) ;
    }


    /* 활성화 on */
    &.on .img_wrap{
      background-color: $secondary;
    }


    &.on:nth-of-type(2) .img_wrap{
      background-image: url(../images/icon/korean_icon1.svg) ;
    }
    &.on:nth-of-type(3) .img_wrap{
      background-image: url(../images/icon/chicken_icon1.svg) ;
    }
    &.on:nth-of-type(4) .img_wrap{
      background-image: url(../images/icon/floor_based_icon1.svg) ;
    }
    &.on:nth-of-type(5) .img_wrap{
      background-image: url(../images/icon/pork_cutlet_icon1.svg) ;
    }
    &.on:nth-of-type(6) .img_wrap{
      background-image: url(../images/icon/bossam_icon1.svg) ;
    }
    &.on:nth-of-type(7) .img_wrap{
      background-image: url(../images/icon/soup_icon1.svg) ;
    }
    &.on:nth-of-type(8) .img_wrap{
      background-image: url(../images/icon/roast_icon1.svg) ;
    }
    &.on:nth-of-type(9) .img_wrap{
      background-image: url(../images/icon/pizza_icon1.svg) ;
    }
    &.on:nth-of-type(10) .img_wrap{
      background-image: url(../images/icon/chinese_icon1.svg) ;
    }
    &.on:nth-of-type(11) .img_wrap{
      background-image: url(../images/icon/japanese_icon1.svg) ;
    }
    &.on:nth-of-type(12) .img_wrap{
      background-image: url(../images/icon/seafood_icon1.svg) ;
    }
    &.on:nth-of-type(13) .img_wrap{
      background-image: url(../images/icon/western_icon1.svg) ;
    }
    &.on:nth-of-type(14) .img_wrap{
      background-image: url(../images/icon/beverage_icon1.svg) ;
    }
    &.on:nth-of-type(15) .img_wrap{
      background-image: url(../images/icon/dessert_icon1.svg) ;
    }
    &.on:nth-of-type(16) .img_wrap{
      background-image: url(../images/icon/snack_icon1.svg) ;
    }
    &.on:nth-of-type(17) .img_wrap{
      background-image: url(../images/icon/asian_icon1.svg) ;
    }
    &.on:nth-of-type(18) .img_wrap{
      background-image: url(../images/icon/sandwich_icon1.svg) ;
    }
    &.on:nth-of-type(19) .img_wrap{
      background-image: url(../images/icon/salad_icon1.svg) ;
    }
    &.on:nth-of-type(20) .img_wrap{
      background-image: url(../images/icon/hamburger_icon1.svg) ;
    }
    &.on:nth-of-type(21) .img_wrap{
      background-image: url(../images/icon/mexican_icon1.svg) ;
    }
    &.on:nth-of-type(22) .img_wrap{
      background-image: url(../images/icon/lunch_box_icon1.svg) ;
    }
    &.on:nth-of-type(23) .img_wrap{
      background-image: url(../images/icon/porridge_icon1.svg) ;
    }
  }
}


.store_list{
  margin-bottom: 45px;

  .inner{
    padding: 0 22px;
    // min-height: 400px;
    position: relative;
  }

  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info_text{
    display: none;
    text-align: center;
    margin-top: 100px;
    color: $gray4;
  }

  .list{
    position: relative;
    // min-height: 400px;

    li{
      padding: 16px 14px;
      border-bottom: 1px solid $gray3;
    }

    h3{
      margin-bottom: 4px;
    }

    .store_info{
      color: $gray6;
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .address_wrap{
      max-width: 170px;
    }
    .type_wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}



.no_map{
  display: none;
  width: 100%;
  min-height: calc(100vh - 196px);
  position: relative;

  .content{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img{
      width: 146px;
      height: auto;
      margin-bottom: 16px;
    }

    p{
      color: $gray4;
    }
  }
}
