@charset "utf-8";

$noto_black: 'noto_black';
$noto_bold: 'noto_bold';
$noto_demi: 'noto_demi_light';
$noto_light: 'noto_light';
$noto_medium: 'noto_medium';
$noto_regular: 'noto_regular';
$noto_thin: 'noto_thin';

$spoqa_bold: 'spoqa_bold';
$spoqa_light: 'spoqa_light';
$spoqa_medium: 'spoqa_medium';
$spoqa_regular: 'spoqa_regular';
$spoqa_thin: 'spoqa_thin';

/* noto */
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Black.otf) format('OpenType');
  font-family: 'noto_black';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Bold.otf) format('OpenType');
  font-family: 'noto_bold';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-DemiLight.otf) format('OpenType');
  font-family: 'noto_demi_light';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Light.otf) format('OpenType');
  font-family: 'noto_light';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Medium.otf) format('OpenType');
  font-family: 'noto_medium';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Regular.otf) format('OpenType');
  font-family: 'noto_regular';
}
@font-face {
  src: url(../font/NotoSansCJKKR/NotoSansCJKkr-Thin.otf) format('OpenType');
  font-family: 'noto_thin';
}

/* spoqa */
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf) format('OpenType');
  font-family: 'spoqa_bold';
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf) format('OpenType');
  font-family: 'spoqa_light';
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf) format('OpenType');
  font-family: 'spoqa_medium';
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf) format('OpenType');
  font-family: 'spoqa_regular';
}
@font-face {
  src: url(../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.otf) format('OpenType');
  font-family: 'spoqa_thin';
}
