@charset "UTF-8";
@import "./setting.scss";

html, body, #wrap{
  height: 100%;
}

.inner{
  padding: 0 22px;
}

.top_title{
  padding-top: 54px;
  margin-bottom: 36px;
  text-align: center;

  .logo{
    width: 162px;
    margin: 0 auto 14px;
  } 
}

.form_wrap{
  margin-bottom: 20px;

  input[type=text].user_id, 
  input[type=password].user_pw{
    margin-bottom: 10px;
  }

  .form_write{
    margin-bottom: 46px;
    position: relative;
  }

  .auto_check_box{
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .form_msg{
    color: $primary_light;
    position: absolute;
    bottom: -24px;
    left: 0;
    display: none;
  }
}

.sign_wrap{
  display: flex;
  justify-content: space-between;
}