@charset "UTF-8";
@import "./Setting.scss";

.cont1{
  background: url(../images/metaverse/metaverse_main_back.jpg) no-repeat center 0 / 1920px auto;

  .inner{
    padding: 98px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2{
    width: 342px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    position: relative;
    margin-bottom: 25px;

    &::after{
      content: "";
      display: block;
      width: 50px;
      height: 8px;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      position: absolute;
      top: -30px;
      left: 0;
    }
  }

  .sub_text{
    width: 372px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  }

  .img_wrap{
    width: 567px;

    img{
      filter: drop-shadow(12px 12px 20px rgba(0, 0, 0, .30));
    }
  }
}

.cont2{


  h2{
    margin-bottom: 17px;
  }

  .sub_text{
    margin-bottom: 30px;
  }
  
  .content1{
    
    .inner{
      padding: 80px 22px 60px;
      
    }

    .content_in{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 58px;

      > img{
        width: 59%;
        image-rendering: -webkit-optimize-contrast;
      }
    }

    .internal{
      max-width: 372px;
      border: 1px solid #c5d4dd;
      border-radius: 24px;
      margin-bottom: 30px;

      h3{
        color: #933bff;
        padding: 20px 24px 19px 24px;
        border-bottom: 1px solid #c5d4dd;
      }

      ul{
        padding: 20px 24px 21px 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      li{
        padding-left: 22px;
        color: #5E5E5E;
        position: relative;

        &::after{
          content: "";
          display: block;
          width: 12px;
          height: 10px;
          background: url(../images/metaverse/Polygon1.svg) no-repeat center center / 12px 10px;
          position: absolute;
          top: 5px;
          left: 0;
        }
      }

    }
    
    .external{
      max-width: 372px;
      border: 1px solid #c5d4dd;
      border-radius: 24px;

      h3{
        color: #40aaf8;
        padding: 20px 24px 19px 24px;
        border-bottom: 1px solid #c5d4dd;
      }

      ul{
        padding: 20px 24px 21px 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      li{
        padding-left: 22px;
        color: #5E5E5E;
        position: relative;

        &::after{
          content: "";
          display: block;
          width: 12px;
          height: 10px;
          background: url(../images/metaverse/Polygon2.svg) no-repeat center center / 12px 10px;
          position: absolute;
          top: 5px;
          left: 0;
        }
      }
    }
  }

  .content2{

    .inner{
      padding: 60px 22px 80px;
    }
  }
}


// @media screen and (min-width: 768px) and (max-width: 1023px ) {}

@media screen and (max-width: 767px) {
    
  .cont1{
    background: url(../images/mobile/metaverse_back.jpg) no-repeat center 0 / cover;

    .inner{
      padding: 5.7812vw 4.0625vw;
      display: flex;
      gap: 6.7187vw;
    }

    h2{
      width: 37.5vw;
      margin-bottom: 2.5vw;

      &::after{
        width: 4.6875vw;
        height: 0.7812vw;
        top: -3.125vw;
      }
    }

    .sub_text{
      width: 44.375vw;
    }

    .img_wrap{
      width: 88.5937vw;

      img{
        filter: drop-shadow(1.875vw 1.875vw 3.125vw rgba(0, 0, 0, .30));
      }
    }
  }

  .cont2{


    h2{
      margin-bottom: 2.1875vw;
    }

    .sub_text{
      margin-bottom: 4.6875vw;
    }
    
    .content1{
      
      .inner{
        padding: 6.25vw 4.0625vw 9.375vw;
        
      }

      .content_in{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3.125vw;

        > img{
          width: 100%;
        }
      }

      .right_cont{
        display: flex;
        gap: 3.125vw;
      }

      .internal{
        max-width: none;
        width: 50%;
        border-radius: 3.75vw;
        margin-bottom: 0;

        h3{
          padding: 3.125vw 3.75vw 2.9687vw 3.75vw;
        }

        ul{
          padding: 3.125vw 3.75vw 3.2812vw 3.75vw;
          gap: 1.25vw;
          font-size: 2.5vw;
        }

        li{
          padding-left: 3.4375vw;

          &::after{
            width: 1.875vw;
            height: 1.5625vw;
            background: url(../images/metaverse/Polygon1.svg) no-repeat center center / 1.875vw 1.5625vw;
            top: 0.7812vw;
          }
        }

      }
      
      .external{
        width: 50%;
        border-radius: 3.75vw;

        h3{
          padding: 3.125vw 3.75vw 2.9687vw 3.75vw;
        }

        ul{
          padding: 3.125vw 3.75vw 3.2812vw 3.75vw;
          gap: 1.25vw;
          font-size: 2.5vw;
        }

        li{
          padding-left: 3.4375vw;

          &::after{
            width: 1.875vw;
            height: 1.5625vw;
            background: url(../images/metaverse/Polygon2.svg) no-repeat center center / 1.875vw 1.5625vw;
            top: 0.7812vw;
          }
        }
      }
    }

    .content2{

      .inner{
        padding: 0 3.4375vw 12.5vw;
      }
    }
  }
}