@charset "UTF-8";
@import "./Setting.scss";

.cont1{
  padding-top: 66px;
  border-bottom: 1px solid #c5d4dd;

  .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 66px;
  }

  h2{
    width: 540px;
    margin-bottom: 25px;
    position: relative;

    &::after{
      content: "";
      display: block;
      width: 50px;
      height: 8px;
      background-color: #40AAF8;
      position: absolute;
      top: -30px;
      left: 0;
    }
  }

  .img_wrap{
    width: 470px;

    img{
      image-rendering: -webkit-optimize-contrast;
    }
  }
}


.join_btn{
  display: block;
  width: 236px;
  height: 64px;
  line-height: 62px;
  text-align: center;
  border-radius: 10px;

  
}


.cont2{

  .content{
    border-bottom: 1px solid #c5d4dd;

    &:last-child{
      border-bottom: none;
    }
  }

  .c1, .c2, .c3{
    padding: 84px 0;

    .inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .text_wrap{

      .f_sub_title{
        margin-bottom: 19px;
        color: $c353535;
      }

      .sub_text{
        color: $c5e5e5e;
      }
    }
  }

  .c1{

    .join_btn{
      border: 2px solid #836FFF;
      color: #836FFF;
      transition: background-color .3s;

      &:hover{
        background-color: #836FFF;
        color: #fff;
      }
    }
  }

  .c2{

    .join_btn{
      border: 2px solid #FF71A4;
      color: #FF71A4;
      transition: background-color .3s;
      
      &:hover{
        background-color: #FF71A4;
        color: #fff;
      }
    }
  }

  .c3{

    .join_btn{
      border: 2px solid #40AAF8;
      color: #40AAF8;
      transition: background-color .3s;

      &:hover{
        background-color: #40AAF8;
        color: #fff;
      }
    }
  }
}




@media screen and (min-width: 768px) and (max-width: 1023px ) {
    
  .cont1{
    padding-top: 6.4516vw;

    .inner{
      padding-bottom: 6.4516vw;
    }

    h2{
      width: 52.7859vw;
      margin-bottom: 2.4437vw;

      &::after{
        width: 4.8875vw;
        height: 0.7820vw;
        top: -2.9325;
      }
    }

    .img_wrap{
      width: 45.9433vw;

    }
  }


  .join_btn{
    width: 23.0694vw;
    height: 6.2561vw;
    line-height: 6.0606vw;
    border-radius: 0.9775vw;

    
  }


  .cont2{

    .c1, .c2, .c3{
      padding: 8.2111vw 0;

      .text_wrap{

        .f_sub_title{
          margin-bottom: 1.8572vw;
        }
      }
    }
  }
}





@media screen and (max-width: 767px) {


    
  .cont1{
    padding-top: 30px; //no

    .inner{
      padding-bottom: 30px; //no
    }

    h2{
      width: 51.0937vw;
      margin-bottom: 2.1875vw;

      &::after{
        width: 7.8125vw;
        height: 1.25vw;
        top: -4.6875vw;
      }
    }

    .img_wrap{
      width: 32.0312vw;
    }
  }


  .join_btn{
    width: 20.625vw;
    height: 10vw;
    line-height: 9.6875vw;
    border-radius: 1.5625vw;

    
  }


  .cont2{
    .text_wrap{
      width: 65vw;
    }

    .c1, .c2, .c3{
      padding: 7.8125vw 0;

      .text_wrap{

        .f_sub_title{
          margin-bottom: 2.03125vw;
        }
      }
    }
  }
}