@charset "UTF-8";
@import "./setting.scss";

html, body, #wrap{
  height: 100%;
}


#header{
  background: $secondary;
  height: 54px;
  
  .inner{
    padding: 0 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.inner{
  padding: 0 22px 30px;
}


.scroll_wrap{
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 20px;
  
  ul{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 0 22px;

    &::-webkit-scrollbar{
      display: none;
    }
    

    li{

      &.on button{
        background: $secondary;
        color: #fff;
      }
      
      button{
        min-width: 100px;
        padding: 0 10px;
        text-align: center;
        background: $gray4;
        color: $gray7;
        text-align: center;
        border-radius: 18px;
        line-height: 36px;

      }
    }
  }
}

.event_wrap{
  ul{
    display: flex;
    flex-direction: column;
  }

  li{
    
    .title_wrap{
      padding: 16px 14px;
      border-bottom: 1px solid $gray3;
      position: relative;
      cursor: pointer;

      .toggle_btn{
        width: 24px;
        height: 24px;
        background: url(../images/icon/content_drop_btn.svg) no-repeat center / contain;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }

      .date{
        color: $gray6;
      }
    }
    .text{
      padding: 0 14px;
      border-bottom: 1px solid $gray3;
      height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      transition: all .3s ease-in-out;

      &.on{
        visibility: visible;
        padding: 20px 14px;
        height: auto;
        min-height: 110px;
        opacity: 1;
      }
    }
  }
}

