@charset "UTF-8";

/* 폰트 패밀리 */
$Mont_ExtraBold: "Mont-ExtraBold";
$Mont_Bold: "Mont-Bold";
$Mont_SemiBold: "Mont-SemiBold";
$Mont_Medium: "Mont-Medium";

$Robo_Medium: "Roboto-Medium";
$Robo_Regular: "Roboto-Regular";
$Robo_Bold: "Roboto-Bold";

/* 컬러 */
$keyColor: #40aaf8;
$c161616: #161616;
$c353535: #353535;
$c4b4b4b: #4B4B4B;
$c5e5e5e: #5E5E5E;
$c7e7e7e: #7e7e7e;
$c9e9e9e: #9e9e9e;
$cA6b5be: #a6b5be;





// @media screen and (min-width: 768px) and (max-width: 1023px ) {}
// @media screen and (max-width: 767px) {}