@charset "UTF-8";

// 폰트 패밀리
$noto_black: 'Noto_black';
$noto_bold: 'Noto_bold';
$noto_light: 'Noto_light';
$noto_medium: 'Noto_medium';
$noto_regular: 'Noto_regular';
$noto_thin: 'Noto_thin';

$mont_black: 'Mont_black';
$mont_bold: 'Mont_bold';
$mont_ex_bold: 'Mont_extra_bold';
$mont_ex_light: 'Mont_extra_light';
$mont_light: 'Mont_light';
$mont_medium: 'Mont_medium';
$mont_regular: 'Mont_regular';
$mont_semi: 'Mont_semi';
$mont_thin: 'Mont_thin';
