@charset "UTF-8";
 
// 폰트 패밀리
$roboto_Thin: "roboto_thin";
$roboto_Light: "roboto_light";
$roboto_Regular: "roboto_regular";
$roboto_Medium: "roboto_medium";
$roboto_Bold: "roboto_bold";
$roboto_Black: "roboto_black";


// 컬러
// 브랜드 컬러
$primary_light: #E54939;
$primary: #CC1C0A;
$primary_dark: #990E00;
$secondary_light: #424242;
$secondary: #262626;
$secondary_dark: #000;


// 그레이 컬러
$gray0: #F5F7FA;
$gray1: #F2F4F7;
$gray2: #EBEEF2;
$gray3: #E4E6EB;
$gray4: #D7DBE0;
$gray5: #A7ACB2;
$gray6: #8F9399;
$gray7: #777A7F;
$gray8: #48494D;

// 추가색상
$gray5_5: #9b9fa5;
$gray9: #37383d;
$text_black: #333;

