@charset "UTF-8";
@import "./setting.scss";

html, body, #wrap{
  height: 100%;
}

#wrap{
  background-color: $gray0;
}

#container{
  background: $gray0;
}

.top_box{
  padding: 30px 0;
  border-bottom: 1px solid $gray4;
}

.logo{
  width: 130px;
  margin: 0 auto 23px;
}


.line_wrap{
  min-width: 236px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 0 24px;

  span{
    display: block;
    background: $gray5;

    &.on{
      background: $primary;
    }
  }

  .circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }

  .line{
    flex-grow: 1;
    height: 1px;
  }
}

.navi{
  padding: 0 24px;
  
  ul{
    display: flex;
    justify-content: space-between;
  }
}

.inner{
  padding: 38px 22px;
  text-align: center;

  .complete_msg{
    color: $primary;
    margin-bottom: 20px;
  }
  
  .sub_txt{
    margin-bottom: 38px;
  }
  
  .join_btn{
    margin-bottom: 12px;
  }
}