@charset "utf-8";
@import './setting.scss';

body {
  background: #0a0a0a;
}

#wrap {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: url(../images/background.png) no-repeat center -76px / 1920px auto;

  &.on {
    filter: blur(4px);
  }

  .inner {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    padding: 100px 30px 170px;
    margin: 0 auto;
  }
}

.top_header {
  display: flex;
  height: 44px;
  margin-bottom: 65px;
  align-items: center;
  justify-content: space-between;

  .logo {
    a {
      width: auto;
      height: 42px;
    }
  }
}

.button_wrap {
  width: 230px;
  height: 44px;

  .connect_btn {
    padding-left: 55px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: left;
    font-family: $mont_bold;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    background: #030101 url(../images/button_bi_white.png) no-repeat 18px center / auto 21px;

    &.on {
      background: #fff url(../images/button_bi.png) no-repeat 18px center / auto 21px;
      color: initial;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.mov_wrap {
  max-width: 627px;
  width: 100%;

  video {
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
  }
}

.info_wrap {
  max-width: 627px;
  width: 100%;
  background: #202124;
  border-radius: 30px;
  padding: 38px 42px 38px;

  .box {
    &.flex {
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(1) {
      padding-bottom: 25px;
      border-bottom: 1px solid #939393;

      .title {
        margin-bottom: 23px;
      }

      h2 {
        a {
          &:hover {
            filter: blur(1.1px);
          }
        }

        img {
          width: auto;
          height: 41px;
        }
      }
    }

    &:nth-child(2) {
      padding-bottom: 28px;
      padding-top: 22px;
      border-bottom: 1px solid #939393;

      .title {
        margin-bottom: 17px;
      }

      .text {
        font-size: 22.5px;
        letter-spacing: -0.56px;
      }
    }

    &:nth-child(3) {
      padding-bottom: 51px;
      padding-top: 22px;
      border-bottom: 1px solid #939393;

      .title {
        margin-bottom: 26px;
      }
    }

    &:nth-child(4) {
      padding-top: 24px;

      .title {
        margin-bottom: 10px;
      }
    }
  }

  .title {
    font-size: 16px;
    letter-spacing: -0.4px;
    font-family: $mont_semi;
    color: #00b0f0;

    &.noto {
      font-family: $noto_medium;
    }
  }

  .text {
    color: #fff;

    &.p1 {
      padding: 4px 0 4px 46px;
      background: url(../images/klay_logo.png) no-repeat 0 center / auto 29px;
    }
  }

  .box_inner {
    width: 50%;
  }

  .progress_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .progress {
      max-width: 444px;
      width: 100%;
      background: #080808;
      border-radius: 10px;
      height: 9px;
      overflow: hidden;

      .percent {
        display: block;
        width: 40%;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
      }
    }
  }
  .count_wrap {
    max-width: 440px;
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 26px;
      height: 26px;
      background-repeat: no-repeat;
      background-size: auto 26px;
      background-position: center center;

      &.plus_icon {
        background-image: url(../images/plus.png);
      }

      &.minus_icon {
        background-image: url(../images/minus.png);
      }
    }

    .count {
      color: #fff;
      font-size: 30px;
    }
  }

  .link_wrap {
    max-width: 230px;
    width: 100%;
    margin: 0 auto;

    button {
      width: 100%;
      height: 44px;
      background: #fff;
      border-radius: 30px;
      font-size: 24px;
      font-family: $mont_bold;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.on {
    display: block;
  }

  .background {
    background: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    inset: 0;
  }
  .modal_inner {
    max-width: 376px;
    width: 100%;
    min-height: 292px;
    border-radius: 30px;
    background: #080808;
    padding: 25px 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .list {
      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .title {
      font-size: 18px;
      letter-spacing: -0.45px;
      text-align: center;
      margin-bottom: 32px;
      color: #fff;
    }

    .link_btn {
      display: block;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 50px;
      height: 54px;
      display: flex;
      align-items: center;
      padding-left: 15px;

      .unit {
        color: #fff;
        font-family: $noto_light;
      }

      .unit_icon {
        width: auto;
        height: 35px;
        margin-right: 16px;
      }
    }
  }
}

// 모바일 버전 제어

.mobile_infomation {
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: fixed;
  z-index: 20;
  inset: 0;
  background: #0a0a0a;
}

@media screen and (max-width: 1023px) {
  .mobile_infomation {
    display: flex;
  }
}
