@charset "UTF-8";
@import "./setting.scss";


html, body, #wrap{
  height: 100%;
}

#wrap{
  background: #fff;
}

#container{
  background: #fff;
}

#header{
  background: $secondary;
  height: 54px;
  
  .inner{
    padding: 0 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.inner{
  padding: 30px 22px;
  
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
}