@charset "UTF-8";
@import "./Setting.scss";

.cont1{
  
  background: url(../images/360_trip/trip_main_back.jpg) no-repeat center 0 / 1920px auto;

  .inner{
    padding: 300px 22px 260px;

  }

  h2{
    width: 388px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .35);
    position: relative;
    margin-bottom: 25px;

    &::after{
      content: "";
      display: block;
      width: 50px;
      height: 8px;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .35);
      position: absolute;
      top: -30px;
      left: 0;
    }
  }

  .sub_text{
    width: 372px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .35);
  }

  .img_wrap{
    width: 666px;
    display: flex;
    gap: 18px;

    img{
      display: block;
      filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, .40));
      image-rendering: -webkit-optimize-contrast;
    }
  }
}

.cont2{

  .inner{
    padding: 60px 22px;
  }

  .more_btn{
    color: #a6b5be;
    padding-right: 15px;
    background: url(../images/common/more_btn_icon.svg) no-repeat right center / 7px auto;
    position: absolute;
    top: 29px;
    right: 34px;
    line-height: 18px;
    
  }

  .content1{
    border: 1px solid #c5d4dd;
    border-radius: 20px;
    padding: 26px 34px;
    position: relative;
    margin-bottom: 24px;

    ul{
      display: flex;
      justify-content: space-between;
      gap: 35px;
    }

    li{
      text-align: center;

      img{
        margin-bottom: 24px;
      }

      
    }
  }

  h2{
    margin-bottom: 20px;
  }

  .content2{
    border: 1px solid #c5d4dd;
    border-radius: 20px;
    padding: 26px 34px;

    .more_btn{
      top: 3px;
      right: 0;
    }

    .list1{
      position: relative;
      margin-bottom: 40px;
    }

    .list2{
      position: relative;
    }
    
    ul{
      display: flex;
      gap: 27px;
    }
  }
}



@media screen and (min-width: 768px) and (max-width: 1023px ) {

  .cont1{
    
    background: url(../images/360_trip/trip_main_back.jpg) no-repeat center 0 / 1920px auto;

    .inner{
      padding: 29.3255vw 2.1505vw 25.4154vw;

    }

    h2{
      width: 37.9276vw;
      margin-bottom: 2.4437vw;

      &::after{
        width: 4.8875vw;
        height: 0.7820vw;
        top: -2.9325vw;
      }
    }

    .sub_text{
      width: 36.3636vw;
    }

    .img_wrap{
      width: 65.1026vw;
      gap: 1.7595vw;

      img{
        filter: drop-shadow(0.7820vw 0.7820vw 1.1730vw rgba(0, 0, 0, .40));
      }
    }
  }

  .cont2{

    .inner{
      padding: 5.8651vw 2.1505vw;
    }

    .more_btn{
      padding-right: 1.4662vw;
      background: url(../images/common/more_btn_icon.svg) no-repeat right center / 0.6842vw auto;
      top: 2.8347vw;
      right: 3.3235vw;
      line-height: 1.7595vw;
      
    }

    .content1{
      border-radius: 1.9550vw;
      padding: 2.5415vw 3.3235vw;
      margin-bottom: 2.3460vw;

      ul{
        gap: 3.4213vw;
      }

      li{

        img{
          margin-bottom: 2.3460vw;
        }

        
      }
    }

    h2{
      margin-bottom: 1.9550vw;
    }

    .content2{
      border-radius: 1.9550vw;
      padding: 2.5415vw 3.3235vw;

      .more_btn{
        top: 0.2932vw;
      }

      .list1{
        margin-bottom: 3.9100vw;
      }

      ul{
        gap: 2.6392vw;
      }
    }
  }



}
@media screen and (max-width: 767px) {}