@charset "utf-8";
@import "./setting.scss";

.content {
    max-width: 1920px;
    margin: 0 auto;
    display: none;

    &.on {
        display: block;
    }

    .inner {
        max-width: 1400px;
        margin: 0 auto;
        padding: 80px 24px;
    }
}

.content1 {

    h2 {
        text-align: center;
        margin-bottom: 24px;
        word-break: keep-all;
    }

    .sub_text {
        margin-bottom: 60px;
        text-align: center;
        word-break: keep-all;
    }

    .item_list {

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            flex: 1 1 0;
            padding: 0 16px;
            text-align: center;

            .box1_text {
                padding: 30px 0;
                border-bottom: 1px solid $gray3;
            }

            .box2_text {
                padding: 10px 0 10px 16px;
                text-align: left;
                background: linear-gradient(90deg, #448AFF 0%, #723DC9 100%);
            }
        }
    }

    .box2 {

        .sub_text {
            margin-bottom: 30px;
        }

        .item_list {
            li {
                padding: 20px 16px;

                .shadow {
                    box-shadow: 4px 4px 12px rgba(0, 0, 0, .16);
                    border-radius: 12px;
                    overflow: hidden;
                }
            }
        }
    }
}

.content2 {

    h2 {
        text-align: center;
        margin-bottom: 60px;
    }

    .item_list {

        ul {
            display: flex;
            gap: 46px;
        }

        li {
            flex: 1 1 0;
            padding: 40px 30px;
            border-radius: 16px;
            background: $gray6;
            text-align: center;

            .title{
                margin-bottom: 12px;
            }

            .sub_title{
                margin-bottom: 30px;
            }

            .sub_text{
                max-width: 280px;
                margin: 0 auto;
                word-break: keep-all;
            }
        }
    }
}




@media screen and (max-width: 1024px) {
    .content {

        .inner {
            max-width: 100%;
            margin: 0 auto;
            padding: 60px 20px;
        }

        h2 {
            text-align: center;
            margin-bottom: 24px;
        }
    }

    .content1 {

        .sub_text {
            margin-bottom: 60px;
            text-align: center;
        }

        .item_list {

            ul {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            li {
                flex: auto;
                max-width: 405px;
                padding: 0;

                .box1_text {
                    border-bottom: none;
                }

                .box2_text {
                    padding: 10px 0 10px 16px;
                    text-align: left;
                    background: linear-gradient(90deg, #448AFF 0%, #723DC9 100%);
                }
            }
        }

        .box2 {

            .sub_text {
                margin-bottom: 30px;
            }

            .item_list {
                li {
                    padding: 20px 16px;

                    .shadow {
                        box-shadow: 4px 4px 12px rgba(0, 0, 0, .16);
                        border-radius: 12px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .content2 {

        h2 {
            margin-bottom: 50px;
        }

        .item_list {

            ul {
                flex-direction: column;
                max-width: 472px;
                margin: 0 auto;
                gap: 40px;
            }

            li {

                .title {
                    margin-bottom: 12px;
                }

                .sub_title {
                    margin-bottom: 40px;
                }

                .sub_text {
                    max-width: 280px;
                    margin: 0 auto;
                    word-break: keep-all;
                }
            }
        }
    }


}

@media screen and (max-width: 768px) {
    .content1 {

        .sub_text {

            span {
                display: block;
                word-break: keep-all;
            }
        }
    }
}
