@charset "utf-8";
@import "./setting.scss";

.sub_banner {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: center 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sub_title {
        margin-bottom: 8px;
    }


    &.product {
        background-image: url(../images/product/top_banner_img.jpg);
    }
}



@media screen and (max-width: 1024px) {

    .sub_banner {
        background-size: cover;
        min-height: 150px;
        padding: 40px 0;

        .sub_title {
            margin-bottom: 0;
        }
    }

    
}

@media screen and (max-width: 768px) {
    
}
